Repository BinaryStudioAcademy/bsa-2023-bsa-talents, pull requests merged in 2023-08, with the labels that each got.

#18 bt-1: fix editorconfig issue
  .ecrc
  .editorconfig
  mobile/.env.example
  mobile/.eslintrc.yml
  mobile/android/app/build.gradle
  mobile/package.json
  mobile/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/bundles/auth/screens/auth.tsx
  mobile/src/bundles/common/components/input/input.tsx
  package-lock.json
Labels: MOBILE

#28 bt-1: Add github actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/labeler.yml
  .github/pr-branch-labeler.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  .ls-lint.yml
Labels: CLIENT, SERVER, MOBILE, workflows

#37 bt-1: + codeowners
  .github/CODEOWNERS
Labels: workflows, development

#34 bt-16: Create global styles
  mobile/src/app/app.tsx
  mobile/src/app/styles.ts
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/styles/alignment-value.enum.ts
  mobile/src/bundles/common/enums/styles/styles.ts
  mobile/src/bundles/common/styles/flex.ts
  mobile/src/bundles/common/styles/global-styles.ts
  mobile/src/bundles/common/styles/margins.ts
  mobile/src/bundles/common/styles/paddings.ts
  mobile/src/bundles/common/styles/sizes.ts
  mobile/src/bundles/common/styles/styles.ts
Labels: MOBILE, development

#35 bt-3: Create Button component
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/enums/color-property.enum.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/index.tsx
Labels: CLIENT, development, frontend

#36 bt-17: Add app theme
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/ui/colors.enum.ts
  mobile/src/bundles/common/enums/ui/ui.ts
Labels: MOBILE, development

#39 bt-26: Create Input shared component
  mobile/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/bundles/common/components/input/input.tsx
  mobile/src/bundles/common/components/input/styles.ts
Labels: MOBILE, development

#75 bt-15: Fix vector icons
  mobile/android/app/build.gradle
  mobile/package.json
  package-lock.json
  shared/tsconfig.json
Labels: bug, MOBILE, shared, root

#54 bt-25: Add textarea component
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.css
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/textarea/styles.module.scss
  frontend/src/bundles/common/components/textarea/textarea.tsx
Labels: CLIENT, development, frontend

#59 bt-48: + Create Grid Component
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/grid/grid.tsx
Labels: CLIENT, development, frontend

#49 bt-11: + checkbox component
  .stylelintrc.yml
  frontend/package.json
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.css
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/common/components/checkbox/checkbox.tsx
  frontend/src/bundles/common/components/checkbox/styles.module.scss
  frontend/src/bundles/common/components/components.ts
  package-lock.json
Labels: CLIENT, development, frontend, root

#63 bt-14: Add custom fonts and Text component with categories
  mobile/android/app/src/main/assets/fonts/inter-black.ttf
  mobile/android/app/src/main/assets/fonts/inter-bold.ttf
  mobile/android/app/src/main/assets/fonts/inter-extrabold.ttf
  mobile/android/app/src/main/assets/fonts/inter-extralight.ttf
  mobile/android/app/src/main/assets/fonts/inter-light.ttf
  mobile/android/app/src/main/assets/fonts/inter-medium.ttf
  mobile/android/app/src/main/assets/fonts/inter-regular.ttf
  mobile/android/app/src/main/assets/fonts/inter-semibold.ttf
  mobile/android/app/src/main/assets/fonts/inter-thin.ttf
  mobile/android/link-assets-manifest.json
  mobile/assets/fonts/inter-black.ttf
  mobile/assets/fonts/inter-bold.ttf
  mobile/assets/fonts/inter-extrabold.ttf
  mobile/assets/fonts/inter-extralight.ttf
  mobile/assets/fonts/inter-light.ttf
  mobile/assets/fonts/inter-medium.ttf
  mobile/assets/fonts/inter-regular.ttf
  mobile/assets/fonts/inter-semibold.ttf
  mobile/assets/fonts/inter-thin.ttf
  mobile/ios/BSATalents.xcodeproj/project.pbxproj
  mobile/ios/BSATalents/Info.plist
  mobile/ios/link-assets-manifest.json
  mobile/react-native.config.js
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/text/text.tsx
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/styles/font-family.enum.ts
  mobile/src/bundles/common/enums/styles/styles.ts
  mobile/src/bundles/common/enums/styles/text-category.enum.ts
  mobile/src/bundles/common/enums/ui/colors.enum.ts
  mobile/src/bundles/common/styles/fonts.ts
  mobile/src/bundles/common/styles/global-styles.ts
Labels: MOBILE, development

#58 bt-10: + add radio component
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/radio/radio-group.tsx
  frontend/src/bundles/common/components/radio/radio-item.tsx
  frontend/src/bundles/common/components/radio/radio.tsx
  frontend/src/bundles/common/components/radio/styles.module.scss
Labels: CLIENT, development, frontend

#74 bt-65: color change
  mobile/src/bundles/common/enums/ui/colors.enum.ts
Labels: MOBILE, development

#68 bt-32: Create Form Field component
  mobile/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/form-field/form-field.tsx
  mobile/src/bundles/common/components/form-field/styles.ts
  mobile/src/bundles/common/components/input/input.tsx
  mobile/src/bundles/common/components/input/styles.ts
Labels: MOBILE, development

#42 bt-2: create MUI color theme
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/common/enums/colors.enum.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/themes/color-theme/color-theme.ts
  frontend/src/bundles/common/themes/color-theme/theme.d.ts
  frontend/src/bundles/common/themes/theme.ts
  frontend/src/index.tsx
Labels: CLIENT, development, frontend

#76 bt-60: add loader
  .gitignore
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/loader/loader.tsx
Labels: MOBILE, development

#57 bt-7: Create Material UI theme with our custom typography settings
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/common/components/typography/typography.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/enums/typography.enum.ts
  frontend/src/bundles/common/themes/theme.ts
  frontend/src/bundles/common/themes/typography-theme/typography-theme.ts
  frontend/src/bundles/common/themes/typography-theme/typography.d.ts
Labels: CLIENT, development, frontend

#85 bt-52: Create header
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.scss
Labels: CLIENT, development, frontend

#96 bt-78: Create modal component
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/components/modal/styles.module.scss
Labels: CLIENT, development, frontend

#95 bt-92: * apply className to FormControlLabel
  frontend/src/bundles/common/components/checkbox/checkbox.tsx
Labels: bug, CLIENT, development, frontend

#70 bt-66: Add protected route component
  frontend/src/bundles/auth/components/components.tsx
  frontend/src/bundles/auth/components/protected-route/protected-route.tsx
Labels: CLIENT, development, frontend

#82 bt-61: create overlay component | development
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/overlay/overlay.tsx
  mobile/src/bundles/common/components/overlay/styles.ts
Labels: MOBILE, development

#56 bt-22: Add FormControl and FormLabel components
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/form-control/form-control.tsx
  frontend/src/bundles/common/components/form-label/form-label.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/enums/input-variant.enum.ts
Labels: CLIENT, development, frontend

#83 bt-30: Create Bottom tabs navigation
  mobile/package.json
  mobile/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/bundles/auth/screens/auth.tsx
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/navigation/auth-screen-name.enum.ts
  mobile/src/bundles/common/enums/navigation/bottom-tab-screen-name.enum.ts
  mobile/src/bundles/common/enums/navigation/navigation.ts
  mobile/src/bundles/common/enums/navigation/root-screen-name.enum.ts
  mobile/src/bundles/common/types/navigation/auth-navigation-parameter-list.type.ts
  mobile/src/bundles/common/types/navigation/bottom-tab-navigation-parameter-list.type.ts
  mobile/src/bundles/common/types/navigation/navigation.ts
  mobile/src/bundles/common/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/bundles/common/types/types.ts
  mobile/src/bundles/users/screens/mail.tsx
  mobile/src/bundles/users/screens/person.tsx
  mobile/src/bundles/users/screens/screens.ts
  mobile/src/bundles/users/screens/shared-folder.tsx
  mobile/src/navigations/auth-navigator/auth-navigator.tsx
  mobile/src/navigations/main-bottom-tab/main-bottom-tab.tsx
  mobile/src/navigations/main-bottom-tab/styles.ts
  mobile/src/navigations/root/root.tsx
  package-lock.json
Labels: MOBILE, development, root

#80 bt-33: Create selector component
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/selector/selector.tsx
  mobile/src/bundles/common/components/selector/styles.ts
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/ui/icon-name.enum.ts
  mobile/src/bundles/common/enums/ui/ui.ts
  mobile/src/bundles/common/styles/fonts.ts
Labels: MOBILE, development

#62 bt-27: + Create Slider component
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/slider/slider.tsx
  frontend/src/bundles/common/components/slider/styles.module.scss
Labels: CLIENT, development, frontend

#84 bt-31: Create Drawer navigation Screen header
  mobile/package.json
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/navigation/navigation.ts
  mobile/src/bundles/common/enums/navigation/onboarding-screen-name.enum.ts
  mobile/src/bundles/common/enums/navigation/root-screen-name.enum.ts
  mobile/src/bundles/common/types/navigation/navigation.ts
  mobile/src/bundles/common/types/navigation/onboarding-navigation-parameter-list-type.ts
  mobile/src/bundles/common/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/bundles/common/types/types.ts
  mobile/src/bundles/users/screens/bsa-badges.tsx
  mobile/src/bundles/users/screens/profile.tsx
  mobile/src/bundles/users/screens/screens.ts
  mobile/src/navigations/onboarding-navigation/components/components.ts
  mobile/src/navigations/onboarding-navigation/components/header/header.tsx
  mobile/src/navigations/onboarding-navigation/components/header/styles.ts
  mobile/src/navigations/onboarding-navigation/onboarding-navigation.tsx
  mobile/src/navigations/root/root.tsx
  package-lock.json
Labels: MOBILE, development, root

#88 bt-20: jwt auth
  backend/.env.example
  backend/package.json
  backend/src/bundles/auth/auth.service.ts
  backend/src/bundles/users/types/types.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  backend/src/common/config/config-base.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/interfaces/repository.interface.ts
  backend/src/common/interfaces/service.interface.ts
  backend/src/common/services/services.ts
  backend/src/common/services/token/interfaces/interface.ts
  backend/src/common/services/token/interfaces/token.interface.ts
  backend/src/common/services/token/token.service.ts
  backend/src/common/services/token/token.ts
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/framework/store/store.package.ts
  package-lock.json
  shared/src/bundles/users/types/types.ts
  shared/src/bundles/users/types/user-find-response-dto.type.ts
  shared/src/bundles/users/types/user-sign-up-response-dto.type.ts
  shared/src/bundles/users/users.ts
  shared/src/index.ts
Labels: SERVER, development, frontend, shared, backend, root, ENV

#103 bt-93: Changed JSX.Element to React.FC
  frontend/src/bundles/common/components/loader/loader.tsx
Labels: bug, CLIENT, MOBILE, development, frontend

#69 bt-9: create input component
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/input/styles.module.scss
Labels: CLIENT, development, frontend

#102 bt-89: Update styles variables
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/common/components/checkbox/styles.module.scss
  frontend/src/bundles/common/components/chip/styles.module.scss
  frontend/src/bundles/common/components/header/styles.module.scss
  frontend/src/bundles/common/components/radio/styles.module.scss
  frontend/src/bundles/common/components/textarea/styles.module.scss
Labels: CLIENT, development, frontend

#55 bt-5: Create Select component
  frontend/src/assets/img/select-arrow.svg
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/select/select.module.scss
  frontend/src/bundles/common/components/select/select.tsx
Labels: CLIENT, development, frontend

#98 bt-29: Create sign in form UI
  mobile/src/bundles/auth/components/sign-in-form/constants/constants.ts
  mobile/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/bundles/auth/components/sign-in-form/styles.ts
  mobile/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/bundles/common/components/link/link.tsx
  mobile/src/bundles/common/hooks/hooks.ts
  mobile/src/bundles/common/styles/paddings.ts
Labels: MOBILE, development

#114 bt-53: Create sidebar
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/sidebar/styles.module.scss
Labels: CLIENT, development, frontend

#121 bt-118: Remove salt
  backend/src/bundles/users/user.entity.ts
  backend/src/bundles/users/user.model.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  backend/src/common/helpers/generate-salt/generate-salt.helper.ts
  backend/src/common/helpers/helpers.ts
  backend/src/migrations/20230827100608_remove_password_salt.ts
Labels: development, backend

#79 bt-21: secure endpoint routing
  backend/.eslintrc.yml
  backend/package.json
  backend/src/bundles/users/users.ts
  backend/src/common/controller/controller.ts
  backend/src/common/controller/enums/controller-hook.enum.ts
  backend/src/common/controller/enums/enum.ts
  backend/src/common/plugins/authorization/authorization.plugin.ts
  backend/src/common/plugins/authorization/authorization.ts
  backend/src/common/plugins/plugins.ts
  backend/src/common/server-application/constants/api.constants.ts
  backend/src/common/server-application/constants/constants.ts
  backend/src/common/server-application/helpers/check-white-route.helper.ts
  backend/src/common/server-application/helpers/helpers.ts
  backend/src/common/server-application/server-app-base.ts
  backend/src/index.d.ts
  backend/tsconfig.json
  package-lock.json
  shared/src/bundles/auth/enums/auth-api-path.enum.ts
  shared/src/enums/enums.ts
  shared/src/enums/error-messages.enum.ts
  shared/src/framework/http/enums/http-code.enum.ts
  shared/src/index.ts
Labels: SERVER, development, shared, backend, root

#141 bt-130: Fix import error after removed interfaces
  backend/src/common/plugins/authorization/authorization.plugin.ts
Labels: bug, SERVER

#140 bt-72: Create user profile(hard skills and user details)
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/migrations/20230828113106_add_hard_skills_table.ts
  backend/src/migrations/20230828113256_add_user_details_table.ts
  backend/src/migrations/20230828113344_update_talent_badges_table.ts
  backend/src/migrations/20230828113412_add_talent_hard_skills_table.ts
Labels: SERVER, development, backend

#113 bt-110: create shared avatar component
  mobile/src/bundles/common/components/avatar/avatar.tsx
  mobile/src/bundles/common/components/avatar/styles.ts
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/ui/avatar-type.enum.ts
  mobile/src/bundles/common/enums/ui/icon-name.enum.ts
  mobile/src/bundles/common/enums/ui/ui.ts
  mobile/src/bundles/common/helpers/helpers.ts
  mobile/src/bundles/common/hooks/hooks.ts
  shared/src/helpers/helpers.ts
  shared/src/helpers/user/get-avatar-initials.ts
  shared/src/index.ts
Labels: MOBILE, development, shared

#147 bt-72: Create user profile
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/user-role.enum.ts
  backend/src/migrations/20230826184846_add_files_table.ts
  backend/src/migrations/20230826220746_add_bsa_badges_table.ts
  backend/src/migrations/20230826223636_update_users_table.ts
  backend/src/migrations/20230827061743_add_talent_badges_table.ts
  backend/src/migrations/20230828083409_update_users_table.ts
  backend/src/migrations/20230828113106_add_hard_skills_table.ts
  backend/src/migrations/20230828113256_add_user_details_table.ts
  backend/src/migrations/20230828113344_update_talent_badges_table.ts
  backend/src/migrations/20230828113412_add_talent_hard_skills_table.ts
Labels: SERVER, development, backend

#143 bt-118: Remove password salt
  backend/src/bundles/users/user.entity.ts
  backend/src/bundles/users/user.model.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  backend/src/migrations/20230828144903_remove_password_salt.ts
Labels: SERVER, development, backend

#135 bt-133: Disable some linter rules for d.ts files in frontend
  frontend/.eslintrc.yml
  frontend/src/bundles/common/themes/color-theme/theme.d.ts
  frontend/src/bundles/common/themes/typography-theme/typography.d.ts
Labels: CLIENT, development, frontend

#106 bt-91: create slider component
  mobile/package.json
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/slider/slider.tsx
  mobile/src/bundles/common/components/slider/styles.ts
  mobile/src/bundles/common/hooks/hooks.ts
  package-lock.json
Labels: MOBILE, development, root

#156 bt-155: * fix file extension
  shared/src/helpers/helpers.ts
Labels: development, shared

#145 bt-138: Modify list of white routes
  backend/src/common/plugins/authorization/authorization.plugin.ts
  backend/src/common/server-application/constants/api.constants.ts
  backend/src/common/server-application/helpers/check-white-route.helper.ts
  shared/src/enums/api-path.enum.ts
Labels: development, shared, backend

#99 bt-51: + Create error handling
  frontend/package.json
  frontend/src/app/app.tsx
  frontend/src/app/store/actions.ts
  frontend/src/app/store/app.ts
  frontend/src/app/store/slice.ts
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/notifications/notifications.tsx
  frontend/src/framework/store/middlewares/error-handler/error-handler.middleware.ts
  frontend/src/framework/store/middlewares/middlewares.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/services/notification/enums/notification-types.enum.ts
  frontend/src/services/notification/notification.package.ts
  frontend/src/services/services.ts
  package-lock.json
Labels: CLIENT, development, frontend, root

#105 bt-87: configure file uploading
  backend/package.json
  backend/src/common/controller/controller-base.package.ts
  backend/src/common/controller/types/controller-route-parameters.type.ts
  backend/src/common/plugins/file-upload/enums/enums.ts
  backend/src/common/plugins/file-upload/enums/file-extension.enum.ts
  backend/src/common/plugins/file-upload/enums/file-group.enum.ts
  backend/src/common/plugins/file-upload/enums/file-mimetypes.enum.ts
  backend/src/common/plugins/file-upload/enums/file-size.enum.ts
  backend/src/common/plugins/file-upload/file-upload.plugin.ts
  backend/src/common/plugins/plugins.ts
  backend/src/common/server-application/server-app-base.ts
  backend/src/common/server-application/types/server-app-route-parameters.type.ts
  package-lock.json
  shared/src/enums/enums.ts
  shared/src/enums/file-upload-error.enum.ts
  shared/src/index.ts
Labels: SERVER, development, shared, backend, root

#119 bt-104: Create complete profile screen UI
  mobile/package.json
  mobile/src/bundles/common/components/button/button.tsx
  mobile/src/bundles/common/components/checkbox/checkbox.tsx
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/form-field/form-field.tsx
  mobile/src/bundles/common/components/input/input.tsx
  mobile/src/bundles/common/components/input/styles.ts
  mobile/src/bundles/common/components/selector/selector.tsx
  mobile/src/bundles/common/components/selector/styles.ts
  mobile/src/bundles/common/components/slider/slider.tsx
  mobile/src/bundles/common/components/text/text.tsx
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/navigation/navigation.ts
  mobile/src/bundles/common/enums/navigation/onboarding-screen-name.enum.ts
  mobile/src/bundles/common/enums/navigation/onboarding-screen-number.enum.ts
  mobile/src/bundles/common/enums/styles/text-category.enum.ts
  mobile/src/bundles/common/styles/fonts.ts
  mobile/src/bundles/common/styles/sizes.ts
  mobile/src/bundles/users/components/components.tsx
  mobile/src/bundles/users/components/new-account-header/new-account-header.tsx
  mobile/src/bundles/users/components/new-account-header/step-progress-bar.tsx
  mobile/src/bundles/users/components/new-account-header/step-track.tsx
  mobile/src/bundles/users/components/new-account-header/styles.ts
  mobile/src/bundles/users/components/profile-form/constants/constants.ts
  mobile/src/bundles/users/components/profile-form/profile-form.tsx
  mobile/src/bundles/users/components/profile-form/styles.tsx
  mobile/src/bundles/users/screens/profile.tsx
  package-lock.json
Labels: MOBILE, development, root

#137 bt-127: Create shared Modal component
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/modals/active-modal.tsx
  mobile/src/bundles/common/components/modals/modal.tsx
  mobile/src/bundles/common/components/modals/styles.ts
Labels: MOBILE, development

#162 bt-146: Create models and entities for files and badges migrations from user_profie
  backend/src/bundles/bsa-badges/bsa-badge.entity.ts
  backend/src/bundles/bsa-badges/bsa-badge.model.ts
  backend/src/bundles/bsa-badges/bsa-badges.ts
  backend/src/bundles/files/file.entity.ts
  backend/src/bundles/files/file.model.ts
  backend/src/bundles/files/files.ts
  backend/src/bundles/talent-badges/talent-badge.entity.ts
  backend/src/bundles/talent-badges/talent-badge.model.ts
  backend/src/bundles/talent-badges/talent-badges.ts
  backend/src/bundles/users/user.entity.ts
  backend/src/common/database/abstract.model.ts
  shared/src/bundles/users/types/user-find-response-dto.type.ts
  shared/src/bundles/users/types/user-get-all-item-response-dto.type.ts
  shared/src/bundles/users/types/user-sign-in-response-dto.type.ts
  shared/src/bundles/users/types/user-sign-up-response-dto.type.ts
Labels: SERVER, development, shared, backend

#165 bt-146: Create models for entities user details and hard skills from bt-72
  backend/src/bundles/bsa-badges/bsa-badge.model.ts
  backend/src/bundles/hard-skills/hard-skills.entity.ts
  backend/src/bundles/hard-skills/hard-skills.model.ts
  backend/src/bundles/hard-skills/hard-skills.ts
  backend/src/bundles/talent-badges/talent-badge.model.ts
  backend/src/bundles/users/enums/enums.ts
  backend/src/bundles/users/types/types.ts
  backend/src/bundles/users/types/user-details-properties.type.ts
  backend/src/bundles/users/user-details.entity.ts
  backend/src/bundles/users/user-details.model.ts
  backend/src/bundles/users/user.model.ts
  backend/src/bundles/users/user.service.ts
  backend/src/common/database/database.ts
  backend/src/common/database/enums/enums.ts
  backend/src/common/database/enums/table-columns/bsa-badges-table-column.enum.ts
  backend/src/common/database/enums/table-columns/files-table-column.enum.ts
  backend/src/common/database/enums/table-columns/hard-skills-table-column.enum.ts
  backend/src/common/database/enums/table-columns/talent-badges-table-column-enum.ts
  backend/src/common/database/enums/table-columns/talent-hard-skills-table-column.enum.ts
  backend/src/common/database/enums/table-columns/user-details-table-column.enum.ts
  backend/src/common/database/enums/table-columns/users-table-column.enum.ts
  backend/src/common/plugins/authorization/authorization.plugin.ts
  shared/src/bundles/users/enums/country-list.enum.ts
  shared/src/bundles/users/enums/employment-type.enum.ts
  shared/src/bundles/users/enums/english-level.enum.ts
  shared/src/bundles/users/enums/enums.ts
  shared/src/bundles/users/enums/job-title.enum.ts
  shared/src/bundles/users/enums/not-considered.enum.ts
  shared/src/bundles/users/enums/preferred-languages.enum.ts
  shared/src/bundles/users/users.ts
  shared/src/index.ts
Labels: SERVER, development, shared, backend

#158 bt-136: Convert token service to token package
  backend/knexfile.ts
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/auth/auth.service.ts
  backend/src/bundles/auth/auth.ts
  backend/src/bundles/bsa-badges/bsa-badge.model.ts
  backend/src/bundles/files/file.model.ts
  backend/src/bundles/hard-skills/hard-skills.model.ts
  backend/src/bundles/talent-badges/talent-badge.model.ts
  backend/src/bundles/users/user-details.model.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/users/user.model.ts
  backend/src/bundles/users/users.ts
  backend/src/common/database/enums/enums.ts
  backend/src/common/packages/config/config-base.package.ts
  backend/src/common/packages/config/config.ts
  backend/src/common/packages/config/types/config.type.ts
  backend/src/common/packages/config/types/environment-schema.type.ts
  backend/src/common/packages/config/types/types.ts
  backend/src/common/packages/controller/controller-base.package.ts
  backend/src/common/packages/controller/controller.ts
  backend/src/common/packages/controller/enums/controller-hook.enum.ts
  backend/src/common/packages/controller/enums/enum.ts
  backend/src/common/packages/controller/types/api-handler-options.type.ts
  backend/src/common/packages/controller/types/api-handler-response.type.ts
  backend/src/common/packages/controller/types/api-handler.type.ts
  backend/src/common/packages/controller/types/controller-route-parameters.type.ts
  backend/src/common/packages/controller/types/controller.type.ts
  backend/src/common/packages/controller/types/types.ts
  backend/src/common/packages/database/abstract.model.ts
  backend/src/common/packages/database/database-base.package.ts
  backend/src/common/packages/database/database.ts
  backend/src/common/packages/database/enums/database-table-name.enum.ts
  backend/src/common/packages/database/enums/enums.ts
  backend/src/common/packages/database/enums/table-columns/bsa-badges-table-column.enum.ts
  backend/src/common/packages/database/enums/table-columns/enums.ts
  backend/src/common/packages/database/enums/table-columns/files-table-column.enum.ts
  backend/src/common/packages/database/enums/table-columns/hard-skills-table-column.enum.ts
  backend/src/common/packages/database/enums/table-columns/talent-badges-table-column-enum.ts
  backend/src/common/packages/database/enums/table-columns/talent-hard-skills-table-column.enum.ts
  backend/src/common/packages/database/enums/table-columns/user-details-table-column.enum.ts
  backend/src/common/packages/database/enums/table-columns/users-table-column.enum.ts
  backend/src/common/packages/database/types/database.type.ts
  backend/src/common/packages/database/types/types.ts
  backend/src/common/packages/logger/logger.package.ts
  backend/src/common/packages/logger/logger.ts
  backend/src/common/packages/logger/types/logger.type.ts
  backend/src/common/packages/logger/types/types.ts
  backend/src/common/packages/packages.ts
  backend/src/common/packages/token/token.package.ts
  backend/src/common/packages/token/token.ts
  backend/src/common/packages/token/types/token.type.ts
  backend/src/common/packages/token/types/types.ts
  backend/src/common/plugins/authorization/authorization.plugin.ts
  backend/src/common/server-application/server-app-api-base.ts
  backend/src/common/server-application/server-app-base.ts
  backend/src/common/server-application/server-application.ts
  backend/src/common/services/services.ts
  backend/src/common/services/token/token.ts
  backend/src/common/services/token/types/types.ts
Labels: SERVER, development, backend, improvement

#167 bt-161: Refactor screens structure
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/navigation/bottom-tab-screen-name.enum.ts
  mobile/src/bundles/common/enums/navigation/employer-bottom-tab-screen-name.enum.ts
  mobile/src/bundles/common/enums/navigation/navigation.ts
  mobile/src/bundles/common/enums/navigation/onboarding-screen-number.enum.ts
  mobile/src/bundles/common/enums/navigation/talent-bottom-tab-screen-name.enum.ts
  mobile/src/bundles/common/enums/navigation/talent-onboarding-screen-name.enum.ts
  mobile/src/bundles/common/enums/navigation/talent-onboarding-screen-number.enum.ts
  mobile/src/bundles/common/types/navigation/bottom-tab-navigation-parameter-list.type.ts
  mobile/src/bundles/common/types/navigation/employer-bottom-tab-navigation-parameter-list.type.ts
  mobile/src/bundles/common/types/navigation/navigation.ts
  mobile/src/bundles/common/types/navigation/onboarding-navigation-parameter-list-type.ts
  mobile/src/bundles/common/types/navigation/talent-bottom-tab-navigation-parameter-list.type.ts
  mobile/src/bundles/common/types/navigation/talent-onboarding-navigation-parameter-list-type.ts
  mobile/src/bundles/common/types/types.ts
  mobile/src/bundles/employer/screens/candidates.tsx
  mobile/src/bundles/employer/screens/chat.tsx
  mobile/src/bundles/employer/screens/employer-profile.tsx
  mobile/src/bundles/employer/screens/screens.ts
  mobile/src/bundles/talent/components/components.tsx
  mobile/src/bundles/talent/components/new-account-header/new-account-header.tsx
  mobile/src/bundles/talent/components/new-account-header/step-progress-bar.tsx
  mobile/src/bundles/talent/components/new-account-header/step-track.tsx
  mobile/src/bundles/talent/components/new-account-header/styles.ts
  mobile/src/bundles/talent/components/profile-form/constants/constants.ts
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
  mobile/src/bundles/talent/components/profile-form/styles.tsx
  mobile/src/bundles/talent/screens/bsa-badges.tsx
  mobile/src/bundles/talent/screens/mail.tsx
  mobile/src/bundles/talent/screens/profile.tsx
  mobile/src/bundles/talent/screens/screens.ts
  mobile/src/bundles/talent/screens/talent-profile.tsx
  mobile/src/bundles/users/screens/shared-folder.tsx
  mobile/src/navigations/bottom-tab-navigator/bottom-tab-navigator.ts
  mobile/src/navigations/bottom-tab-navigator/employer-bottom-tab.tsx
  mobile/src/navigations/bottom-tab-navigator/styles.ts
  mobile/src/navigations/bottom-tab-navigator/talent-bottom-tab.tsx
  mobile/src/navigations/onboarding-navigator/components/components.ts
  mobile/src/navigations/onboarding-navigator/components/header/header.tsx
  mobile/src/navigations/onboarding-navigator/components/header/styles.ts
  mobile/src/navigations/onboarding-navigator/onboarding-navigator.ts
  mobile/src/navigations/onboarding-navigator/talent-onboarding.tsx
  mobile/src/navigations/root/root.tsx
Labels: MOBILE, development

#174 bt-20: * [Bug Fix] Authorization Plugin Not Parsing Token
  backend/src/common/plugins/authorization/authorization.plugin.ts
Labels: bug, SERVER, development, backend

#183 bt-166: - removed test action
  .github/workflows/build-android.yml
Labels: MOBILE, workflows, development

#178 bt-12: Change Mobile app icon
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Labels: MOBILE, development

#120 bt-90: Create Drawer navigation UI
  mobile/src/bundles/common/enums/app/app.ts
  mobile/src/bundles/common/enums/app/talent-onboarding-step-state.enum.ts
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/navigation/talent-onboarding-screen-name.enum.ts
  mobile/src/bundles/common/enums/navigation/talent-onboarding-screen-number.enum.ts
  mobile/src/bundles/common/enums/ui/icon-name.enum.ts
  mobile/src/bundles/common/types/navigation/navigation.ts
  mobile/src/bundles/common/types/navigation/talent-onboarding-navigation-parameter-list-type.ts
  mobile/src/bundles/common/types/navigation/talent-onboarding-navigation-properties.type.ts
  mobile/src/bundles/common/types/types.ts
  mobile/src/bundles/talent/screens/cv-and-contacts.tsx
  mobile/src/bundles/talent/screens/preview.tsx
  mobile/src/bundles/talent/screens/screens.ts
  mobile/src/bundles/talent/screens/skills-and-projects.tsx
  mobile/src/navigations/onboarding-navigator/components/components.ts
  mobile/src/navigations/onboarding-navigator/components/step/step.tsx
  mobile/src/navigations/onboarding-navigator/components/step/styles.ts
  mobile/src/navigations/onboarding-navigator/components/steps/steps.tsx
  mobile/src/navigations/onboarding-navigator/components/steps/styles.ts
  mobile/src/navigations/onboarding-navigator/talent-onboarding.tsx
  mobile/src/navigations/root/root.tsx
  wq
Labels: MOBILE, development, root

#180 bt-176: Add placeholder to select component
  frontend/src/bundles/common/components/select/select.tsx
Labels: bug, CLIENT, development, frontend

#185 bt-12: Change Mobile app icon
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Labels: MOBILE, development

#128 bt-108: Create BSA badges screen
  mobile/src/bundles/common/enums/ui/icon-name.enum.ts
  mobile/src/bundles/common/hooks/hooks.ts
  mobile/src/bundles/talent/components/badge/badge.tsx
  mobile/src/bundles/talent/components/badge/constants/constants.ts
  mobile/src/bundles/talent/components/badge/styles.ts
  mobile/src/bundles/talent/components/components.tsx
  mobile/src/bundles/talent/enums/enums.ts
  mobile/src/bundles/talent/enums/ui/badge-type.enum.ts
  mobile/src/bundles/talent/enums/ui/ui.ts
  mobile/src/bundles/talent/screens/bsa-badges.tsx
  mobile/src/bundles/talent/screens/bsa-badges/bsa-badges.tsx
  mobile/src/bundles/talent/screens/bsa-badges/styles.ts
  mobile/src/bundles/talent/screens/screens.ts
Labels: MOBILE, development

#154 bt-71: Create get current user endpoint
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/auth/auth.service.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  backend/src/common/packages/controller/controller-base.package.ts
  backend/src/common/packages/controller/types/api-handler-options.type.ts
  frontend/src/app/app.tsx
  frontend/src/bundles/auth/auth-api.ts
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/auth.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/users/types/types.ts
  frontend/src/bundles/users/users.ts
  shared/src/bundles/auth/enums/auth-api-path.enum.ts
  shared/src/enums/error-messages.enum.ts
Labels: CLIENT, SERVER, development, frontend, shared, backend

#187 bt-182: Add logo component
  frontend/src/assets/img/logo/logo-label.svg
  frontend/src/assets/img/logo/logo.svg
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/logo/logo.tsx
  frontend/src/bundles/common/components/logo/styles.module.scss
Labels: CLIENT, development, frontend

#194 bt-13: Create Mobile app splash screen
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/bsa_talents/MainActivity.java
  mobile/android/app/src/main/res/drawable-hdpi/splash_logo.png
  mobile/android/app/src/main/res/drawable-mdpi/splash_logo.png
  mobile/android/app/src/main/res/drawable-xhdpi/splash_logo.png
  mobile/android/app/src/main/res/drawable-xxhdpi/splash_logo.png
  mobile/android/app/src/main/res/drawable-xxxhdpi/splash_logo.png
  mobile/android/app/src/main/res/layout/launch_screen.xml
  mobile/android/app/src/main/res/values/color.xml
  mobile/android/app/src/main/res/values/styles.xml
  mobile/android/settings.gradle
  mobile/package.json
  mobile/src/app/app.tsx
  mobile/src/bundles/talent/components/profile-form/constants/constants.ts
  package-lock.json
Labels: MOBILE, development, root

#192 bt-91: refactor slider component
  mobile/src/bundles/common/components/slider/slider.tsx
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
Labels: bug, MOBILE, development
