Repository BinaryStudioAcademy/bsa-2023-bsa-talents, pull requests merged in 2023-09, with the labels that each got.

#188 bt-157: add logic to sign in flow
  mobile/package.json
  mobile/src/app/app.tsx
  mobile/src/bundles/auth/auth-api.ts
  mobile/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/bundles/auth/components/sign-up-form/constants/constants.ts
  mobile/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/bundles/auth/screens/auth.tsx
  mobile/src/bundles/auth/store/actions.ts
  mobile/src/bundles/auth/store/index.ts
  mobile/src/bundles/auth/store/slice.ts
  mobile/src/bundles/auth/types/types.ts
  mobile/src/bundles/auth/validation-schemas/validation-schemas.ts
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/users/enums/enums.ts
  mobile/src/bundles/users/users-api.ts
  mobile/src/bundles/users/users.ts
  mobile/src/bundles/users/validation-schemas/validation-schemas.ts
  mobile/src/framework/api/http-api-base.ts
  mobile/src/framework/notifications/notifications-base.package.ts
  mobile/src/framework/notifications/notifications.ts
  mobile/src/framework/notifications/types/types.ts
  mobile/src/framework/store/store.package.ts
  mobile/src/navigations/root/root.tsx
  package-lock.json
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/validation-schemas/auth-constants.ts
  shared/src/bundles/users/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/bundles/users/validation-schemas/user-sign-up.validation-schema.ts
  shared/src/enums/error-messages.enum.ts
  shared/src/index.ts
Labels: MOBILE, development, shared, root

#195 bt-189: Not found page
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.scss
  frontend/src/bundles/common/components/link/link.tsx
  frontend/src/bundles/common/components/page-layout/page-layout.tsx
  frontend/src/bundles/common/components/page-layout/styles.module.scss
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/sidebar/styles.module.scss
  frontend/src/bundles/common/components/typography/typography.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/bundles/common/pages/not-found/styles.module.scss
  frontend/src/index.tsx
Labels: CLIENT, development, frontend

#171 bt-117: Create badge component
  frontend/src/bundles/common/components/badge/badge.tsx
  frontend/src/bundles/common/components/badge/components.ts
  frontend/src/bundles/common/components/badge/components/badge-icon/badge-icon.tsx
  frontend/src/bundles/common/components/badge/styles.module.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/enums/badge-colors.enum.ts
  frontend/src/bundles/common/enums/enums.ts
Labels: CLIENT, development, frontend

#177 bt-170: Add local font files
  frontend/src/assets/css/styles.scss
  frontend/src/assets/fonts/fonts.scss
  frontend/src/assets/fonts/inter-bold.ttf
  frontend/src/assets/fonts/inter-medium.ttf
  frontend/src/assets/fonts/inter-regular.ttf
  frontend/src/assets/fonts/inter-semibold.ttf
Labels: CLIENT, development, frontend

#210 bt-209: Change swagger url and paths description
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/common/server-application/constants/api.constants.ts
  backend/src/common/server-application/server-app-base.ts
  shared/src/bundles/users/validation-schemas/user-sign-in.validation-schema.ts
Labels: development, shared, backend, improvement

#164 bt-10: fix radio component
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/form-control-label/form-control-label.tsx
  frontend/src/bundles/common/components/radio/radio-group.tsx
  frontend/src/bundles/common/components/radio/radio-item.tsx
  frontend/src/bundles/common/components/radio/styles.module.scss
Labels: bug, CLIENT, development, frontend

#200 bt-196: Add authorization check in protecter route component
  frontend/src/app/app.tsx
  frontend/src/bundles/auth/components/protected-route/protected-route.tsx
  frontend/src/bundles/auth/store/slice.ts
Labels: CLIENT, development, frontend

#134 bt-111: create shared photo picker component for cv screen
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/package.json
  mobile/src/bundles/auth/store/actions.ts
  mobile/src/bundles/common/components/avatar/avatar.tsx
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/image-picker/image-picker.tsx
  mobile/src/bundles/common/components/image-picker/styles.ts
  mobile/src/bundles/common/types/types.ts
  mobile/src/bundles/talent/components/avatar-picker/avatar-picker.tsx
  mobile/src/bundles/talent/components/components.tsx
  mobile/src/bundles/users/types/components/avatar-properties.ts
  mobile/src/framework/notifications/notifications-base.package.ts
  mobile/src/framework/notifications/types/notification.ts
  mobile/src/framework/notifications/types/show-message-arguments.ts
  mobile/src/framework/notifications/types/types.ts
  package-lock.json
Labels: MOBILE, development, root

#219 bt-218: Add sign-up password validation
  backend/src/bundles/auth/auth.controller.ts
  shared/src/bundles/users/validation-schemas/user-sign-up.validation-schema.ts
Labels: development, shared, backend, improvement

#179 bt-112: Create cv contacts screen UI
  mobile/src/bundles/common/enums/ui/icon-name.enum.ts
  mobile/src/bundles/talent/components/components.ts
  mobile/src/bundles/talent/components/cv-and-contacts-form/constants/constants.ts
  mobile/src/bundles/talent/components/cv-and-contacts-form/cv-and-contacts-form.tsx
  mobile/src/bundles/talent/components/cv-and-contacts-form/styles.ts
  mobile/src/bundles/talent/components/profile-form/constants/constants.ts
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
  mobile/src/bundles/talent/components/profile-form/styles.ts
  mobile/src/bundles/talent/screens/cv-and-contacts.tsx
  mobile/src/bundles/talent/screens/profile.tsx
  mobile/src/bundles/talent/screens/screens.ts
  mobile/src/navigations/bottom-tab-navigator/employer-bottom-tab.tsx
  mobile/src/navigations/bottom-tab-navigator/talent-bottom-tab.tsx
  mobile/src/navigations/onboarding-navigator/talent-onboarding.tsx
Labels: MOBILE, development

#227 bt-116: Create sign up talent page
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/talent-onboarding/helpers/get-step-route/get-step-route.ts
  frontend/src/index.tsx
Labels: CLIENT, development, frontend

#153 bt-115: Create sign in sign up pages
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/auth/components/auth-forms/sign-in-form/constants/constants.ts
  frontend/src/bundles/auth/components/auth-forms/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/auth-forms/sign-in-form/styles.module.scss
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/constants/constants.ts
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/styles.module.scss
  frontend/src/bundles/auth/components/auth-layout/auth-layout.tsx
  frontend/src/bundles/auth/components/auth-layout/styles.module.scss
  frontend/src/bundles/auth/components/components.tsx
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/pages/styles.scss
  frontend/src/bundles/common/components/checkbox/checkbox.tsx
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/bundles/common/components/radio/radio-group.tsx
  frontend/src/bundles/common/components/radio/styles.module.scss
  frontend/src/bundles/users/types/types.ts
  frontend/src/bundles/users/users.ts
Labels: CLIENT, development, frontend

#238 bt-89: Removed duplicate variable causing CI errors
  frontend/src/assets/css/variables.scss
Labels: bug, development, frontend

#205 bt-157: add file extension
  shared/src/bundles/users/validation-schemas/constants/constants.ts
  shared/src/bundles/users/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/bundles/users/validation-schemas/user-sign-up.validation-schema.ts
Labels: bug, development, shared

#249 bt-248: Swagger not attaching token
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/users/user.controller.ts
Labels: bug, SERVER, development, backend

#271 bt-259: Refactor Form Field component
  mobile/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/bundles/common/components/form-field/form-field.tsx
  mobile/src/bundles/talent/components/cv-and-contacts-form/cv-and-contacts-form.tsx
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
Labels: MOBILE, development

#190 bt-172: Create User Profile Endpoint
  backend/src/bundles/hard-skills/hard-skills.model.ts
  backend/src/bundles/user-details/enums/enums.ts
  backend/src/bundles/user-details/types/types.ts
  backend/src/bundles/user-details/types/user-details-properties.type.ts
  backend/src/bundles/user-details/user-details.controller.ts
  backend/src/bundles/user-details/user-details.entity.ts
  backend/src/bundles/user-details/user-details.model.ts
  backend/src/bundles/user-details/user-details.repository.ts
  backend/src/bundles/user-details/user-details.service.ts
  backend/src/bundles/user-details/user-details.ts
  backend/src/bundles/user-details/validation-schemas/validation-schemas.ts
  backend/src/bundles/users/enums/enums.ts
  backend/src/bundles/users/types/types.ts
  backend/src/common/server-application/server-application.ts
  backend/src/common/types/repository.type.ts
  backend/src/common/types/service.type.ts
  shared/src/bundles/talent-onboarding/validation-schemas/profile-step.validation-schema.ts
  shared/src/bundles/user-details/enums/country-list.enum.ts
  shared/src/bundles/user-details/enums/employment-type.enum.ts
  shared/src/bundles/user-details/enums/english-level.enum.ts
  shared/src/bundles/user-details/enums/enums.ts
  shared/src/bundles/user-details/enums/experience-years-list.enum.ts
  shared/src/bundles/user-details/enums/job-title.enum.ts
  shared/src/bundles/user-details/enums/not-considered.enum.ts
  shared/src/bundles/user-details/enums/preferred-languages.enum.ts
  shared/src/bundles/user-details/enums/user-details-api-path.enum.ts
  shared/src/bundles/user-details/types/types.ts
  shared/src/bundles/user-details/types/user-details-create-request-dto.type.ts
  shared/src/bundles/user-details/types/user-details-find-request-dto.type.ts
  shared/src/bundles/user-details/types/user-details-response-dto.type.ts
  shared/src/bundles/user-details/types/user-details-update-dto.type.ts
  shared/src/bundles/user-details/types/user-details-update-request-dto.type.ts
  shared/src/bundles/user-details/user-details.ts
  shared/src/bundles/user-details/validation-schemas/user-details-create.validation-schema.ts
  shared/src/bundles/user-details/validation-schemas/user-details-update.validation-schema.ts
  shared/src/bundles/user-details/validation-schemas/validation-schemas.ts
  shared/src/bundles/users/enums/enums.ts
  shared/src/bundles/users/users.ts
  shared/src/enums/api-path.enum.ts
  shared/src/enums/error-messages.enum.ts
  shared/src/framework/http/types/http-method.type.ts
  shared/src/index.ts
Labels: SERVER, development, shared, backend

#184 bt-159: add sign up flow
  mobile/package.json
  mobile/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/bundles/auth/components/sign-up-form/constants/constants.ts
  mobile/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/bundles/auth/screens/auth.tsx
  mobile/src/bundles/auth/store/actions.ts
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/radio-buttons/radio-buttons.tsx
  mobile/src/bundles/common/helpers/get-error-message/get-error-message.ts
  mobile/src/bundles/common/helpers/helpers.ts
  mobile/src/bundles/users/enums/enums.ts
  mobile/src/framework/notifications/notifications-base.package.ts
  package-lock.json
Labels: MOBILE, development, root

#242 bt-236: Passed rest properties
  frontend/src/bundles/common/components/form-control-label/form-control-label.tsx
  frontend/src/bundles/common/components/form-control/form-control.tsx
Labels: bug, development, frontend

#247 bt-232: Connect signIn to api
  frontend/src/bundles/auth/auth-api.ts
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/auth.ts
  frontend/src/bundles/auth/store/slice.ts
Labels: CLIENT, development, frontend

#202 bt-168: Create Talent Sign up fourth step form
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/file-upload/file-upload.tsx
  frontend/src/bundles/common/components/form-helper-text/form-helper-text.tsx
  frontend/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/bundles/talent-onboarding/components/components.tsx
  frontend/src/bundles/talent-onboarding/components/contacts-cv-step/constants/constants.ts
  frontend/src/bundles/talent-onboarding/components/contacts-cv-step/contacts-cv-step.tsx
  frontend/src/bundles/talent-onboarding/components/contacts-cv-step/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/step-navigation/step-navigation.tsx
  frontend/src/bundles/talent-onboarding/constants/constants.ts
  frontend/src/bundles/talent-onboarding/enums/steps.enum.ts
  frontend/src/bundles/talent-onboarding/helpers/helpers.ts
  frontend/src/bundles/talent-onboarding/helpers/validate-file-size.ts
  frontend/src/bundles/talent-onboarding/pages/onboarding/onboarding.tsx
  frontend/src/bundles/talent-onboarding/store/actions.ts
  frontend/src/bundles/talent-onboarding/store/slice.ts
  frontend/src/bundles/talent-onboarding/store/talent-onboarding.ts
  frontend/src/bundles/talent-onboarding/types/types.ts
  frontend/src/bundles/talent-onboarding/validation-schemas/validation-schemas.ts
  shared/src/bundles/talent-onboarding/enums/contacts-cv-step.validation-message.ts
  shared/src/bundles/talent-onboarding/enums/contacts-cv-step.validation-rule.ts
  shared/src/bundles/talent-onboarding/enums/enums.ts
  shared/src/bundles/talent-onboarding/talent-onboarding.ts
  shared/src/bundles/talent-onboarding/types/contacts-cv-step-dto.ts
  shared/src/bundles/talent-onboarding/types/types.ts
  shared/src/bundles/talent-onboarding/validation-schemas/contacts-cv-step.validation-schema.ts
  shared/src/bundles/talent-onboarding/validation-schemas/validation-schemas.ts
  shared/src/index.ts
Labels: CLIENT, development, frontend, shared

#265 bt-252: create avatar common component
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/common/components/avatar/components.ts
  frontend/src/bundles/common/components/avatar/components/avatar/avatar.tsx
  frontend/src/bundles/common/components/avatar/components/avatar/styles.module.scss
  frontend/src/bundles/common/components/avatar/components/header-avatar/header-avatar.tsx
  frontend/src/bundles/common/components/avatar/components/header-avatar/styles.module.scss
  frontend/src/bundles/common/components/components.ts
Labels: CLIENT, development, frontend

#244 bt-233: Refactor class name usage
  frontend/src/assets/css/scaffolding.scss
  frontend/src/bundles/auth/components/auth-forms/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/auth-forms/sign-in-form/styles.module.scss
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/styles.module.scss
  frontend/src/bundles/auth/components/auth-layout/auth-layout.tsx
  frontend/src/bundles/auth/components/auth-layout/styles.module.scss
  frontend/src/bundles/auth/pages/styles.scss
  frontend/src/bundles/common/components/avatar/components/header-avatar/header-avatar.tsx
  frontend/src/bundles/common/components/checkbox/checkbox.tsx
  frontend/src/bundles/common/components/chip/chip.tsx
  frontend/src/bundles/common/components/chip/styles.module.scss
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/logo/logo.tsx
  frontend/src/bundles/common/components/page-layout/page-layout.tsx
  frontend/src/bundles/common/components/radio/components/radio-group/radio-group.tsx
  frontend/src/bundles/common/components/radio/components/radio-item/radio-item.tsx
  frontend/src/bundles/common/components/radio/components/radio-item/styles.module.scss
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/common/components/select/styles.module.scss
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/bundles/talent-onboarding/components/skills-step/skills-step.tsx
Labels: CLIENT, development, frontend, improvement

#285 bt-282: Fix files validation in ContactsCVValidationSchema
  frontend/src/bundles/talent-onboarding/enums/contacts-cv-step/contacts-cv-step.validation-message.ts
  frontend/src/bundles/talent-onboarding/enums/contacts-cv-step/contacts-cv-step.validation-rule.ts
  frontend/src/bundles/talent-onboarding/enums/enums.ts
  frontend/src/bundles/talent-onboarding/store/actions.ts
  frontend/src/bundles/talent-onboarding/types/contacts-cv-step/contacts-cv-step-dto.ts
  frontend/src/bundles/talent-onboarding/types/types.ts
  frontend/src/bundles/talent-onboarding/validation-schemas/contacts-cv-step/contacts-cv-step.validation-schema.ts
  frontend/src/bundles/talent-onboarding/validation-schemas/validation-schemas.ts
  shared/src/bundles/talent-onboarding/enums/enums.ts
  shared/src/bundles/talent-onboarding/talent-onboarding.ts
  shared/src/bundles/talent-onboarding/types/types.ts
  shared/src/bundles/talent-onboarding/validation-schemas/validation-schemas.ts
  shared/src/index.ts
Labels: bug, CLIENT, SERVER, development, frontend, shared

#283 bt-257: create onboarding step2
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/lms/store/lms.ts
  frontend/src/bundles/lms/store/slice.ts
  frontend/src/bundles/lms/types/types.ts
  frontend/src/bundles/talent-onboarding/components/bsa-badges-step/bsa-badges-step.tsx
  frontend/src/bundles/talent-onboarding/components/bsa-badges-step/constants/constants.ts
  frontend/src/bundles/talent-onboarding/components/bsa-badges-step/constants/default.constants.ts
  frontend/src/bundles/talent-onboarding/components/bsa-badges-step/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/components.tsx
  frontend/src/bundles/talent-onboarding/components/profile-step/profile-step.tsx
  frontend/src/bundles/talent-onboarding/components/skills-step/skills-step.tsx
  frontend/src/bundles/talent-onboarding/components/step-navigation/step-navigation.tsx
  frontend/src/bundles/talent-onboarding/helpers/get-random-badge-color/get-random-badge-color.ts
  frontend/src/bundles/talent-onboarding/helpers/helpers.ts
  frontend/src/bundles/talent-onboarding/mock-data/mock-badges.constants.ts
  frontend/src/bundles/talent-onboarding/mock-data/mock-data.ts
  frontend/src/bundles/talent-onboarding/store/actions.ts
  frontend/src/bundles/talent-onboarding/store/slice.ts
  frontend/src/bundles/talent-onboarding/store/talent-onboarding.ts
  frontend/src/bundles/talent-onboarding/types/types.ts
  frontend/src/bundles/talent-onboarding/validation-schemas/validation-schemas.ts
  frontend/src/framework/store/store.package.ts
  shared/src/bundles/talent-onboarding/enums/bsa-badges-step/bsa-badges-step.validation-message.ts
  shared/src/bundles/talent-onboarding/enums/bsa-badges-step/bsa-badges-step.validation-rule.ts
  shared/src/bundles/talent-onboarding/enums/enums.ts
  shared/src/bundles/talent-onboarding/talent-onboarding.ts
  shared/src/bundles/talent-onboarding/types/bsa-badges-step/bsa-badges-step-dto.ts
  shared/src/bundles/talent-onboarding/types/types.ts
  shared/src/bundles/talent-onboarding/validation-schemas/bsa-badges-step/bsa-badges-step.validation-schema.ts
  shared/src/bundles/talent-onboarding/validation-schemas/validation-schemas.ts
  shared/src/index.ts
Labels: CLIENT, development, frontend, shared

#277 bt-276: [ BUG FIX ] sign up page layout needs improvement
  frontend/src/bundles/auth/components/auth-forms/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/styles.module.scss
  frontend/src/bundles/auth/components/auth-layout/auth-layout.tsx
  frontend/src/bundles/auth/components/auth-layout/styles.module.scss
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/index.tsx
Labels: bug, CLIENT, development, frontend

#291 bt-286: Fix mobile navigation after sign in/up
  mobile/src/navigations/root/root.tsx
Labels: bug, MOBILE, development

#284 bt-275: Add scrolling of the SignUp, SignIn forms
  mobile/src/bundles/auth/components/auth-wrapper/auth-wrapper.tsx
  mobile/src/bundles/auth/components/auth-wrapper/styles.ts
  mobile/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/bundles/auth/components/sign-up-form/styles.ts
  mobile/src/bundles/auth/screens/auth.tsx
Labels: bug, MOBILE, development

#302 bt-294: Change words on signIn page
  frontend/src/bundles/auth/components/auth-forms/sign-in-form/sign-in-form.tsx
Labels: bug, CLIENT, development, frontend

#300 bt-293: Fix doubled asterisk on required fields
  frontend/src/bundles/auth/components/auth-forms/sign-in-form/sign-in-form.tsx
Labels: bug, CLIENT, development, frontend

#307 bt-306: Fix mobile production build
  mobile/android/app/src/main/AndroidManifest.xml
Labels: MOBILE, development

#280 bt-263: [BUG] The “Return to main” link is cut off on the “Not found” page
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/bundles/common/pages/not-found/styles.module.scss
Labels: bug, CLIENT, development, frontend

#240 bt-224: Combine talent onboarding layout with forms
  frontend/src/bundles/common/components/slider/slider.tsx
  frontend/src/bundles/talent-onboarding/components/badges-step/badges-step.tsx
  frontend/src/bundles/talent-onboarding/components/badges-step/constants/constants.ts
  frontend/src/bundles/talent-onboarding/components/badges-step/constants/default.constants.ts
  frontend/src/bundles/talent-onboarding/components/badges-step/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/components.tsx
  frontend/src/bundles/talent-onboarding/components/contacts-cv-step/constants/constants.ts
  frontend/src/bundles/talent-onboarding/components/contacts-cv-step/contacts-cv-step.tsx
  frontend/src/bundles/talent-onboarding/components/profile-step/constants/default.constants.ts
  frontend/src/bundles/talent-onboarding/components/profile-step/profile-step.tsx
  frontend/src/bundles/talent-onboarding/components/skills-step/skills-step.tsx
  frontend/src/bundles/talent-onboarding/components/step-content/step-content.tsx
  frontend/src/bundles/talent-onboarding/components/step-navigation/step-navigation.tsx
  frontend/src/bundles/talent-onboarding/context/context.ts
  frontend/src/bundles/talent-onboarding/context/form-submit-provider.context.tsx
  frontend/src/bundles/talent-onboarding/helpers/helpers.ts
  frontend/src/bundles/talent-onboarding/helpers/map-experience-years-to-marks/map-experience-years-to-marks.ts
  frontend/src/bundles/talent-onboarding/helpers/map-project-links/map-project-links.ts
  frontend/src/bundles/talent-onboarding/pages/onboarding/onboarding.tsx
  frontend/src/bundles/talent-onboarding/store/actions.ts
  frontend/src/bundles/talent-onboarding/store/slice.ts
  frontend/src/bundles/talent-onboarding/store/talent-onboarding.ts
  frontend/src/bundles/talent-onboarding/types/contacts-cv-step/contacts-cv-step-dto.ts
  frontend/src/bundles/talent-onboarding/types/general-update-user-details-request-dto/general-update-user-details-request-dto.ts
  frontend/src/bundles/talent-onboarding/types/types.ts
  frontend/src/bundles/talent-onboarding/validation-schemas/contacts-cv-step/contacts-cv-step.validation-schema.ts
  frontend/src/framework/store/store.ts
  mobile/src/bundles/talent/components/profile-form/constants/constants.ts
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
  mobile/src/bundles/talent/store/slice.ts
  shared/src/bundles/talent-onboarding/types/bsa-badges-step/bsa-badges-step-dto.ts
  shared/src/bundles/talent-onboarding/types/profile-step/profile-step-dto.ts
  shared/src/bundles/talent-onboarding/validation-schemas/bsa-badges-step/bsa-badges-step.validation-schema.ts
  shared/src/bundles/talent-onboarding/validation-schemas/profile-step/profile-step.validation-schema.ts
Labels: CLIENT, MOBILE, development, frontend, shared

#281 bt-278: Remove error text margins in the Input component
  frontend/src/bundles/common/components/input/styles.module.scss
Labels: bug, development, frontend, improvement

#303 bt-24: AWS deployment
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  README.md
  backend/.env.example
  backend/package.json
  backend/src/common/constants/constants.ts
  backend/src/common/constants/served-page-path.constants.ts
  backend/src/common/packages/config/config-base.package.ts
  backend/src/common/packages/config/types/environment-schema.type.ts
  backend/src/common/packages/database/database-base.package.ts
  backend/src/common/plugins/authorization/authorization.plugin.ts
  backend/src/common/server-application/server-app-base.ts
  frontend/package.json
  mobile/package.json
  package-lock.json
  package.json
  prepare-build.sh
  shared/package.json
  shared/src/enums/app-environment.enum.ts
Labels: CLIENT, SERVER, MOBILE, workflows, development, frontend, shared, backend, root, ENV

#324 bt-24: add prepare-build.sh to zip
  .github/workflows/cd.yml
  backend/.env.example
Labels: bug, CLIENT, SERVER, workflows, development

#321 bt-320: Fixed width of talent onboarding steps
  frontend/src/bundles/talent-onboarding/components/badges-step/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/contacts-cv-step/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/profile-step/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/skills-step/styles.module.scss
  frontend/src/bundles/talent-onboarding/pages/onboarding/styles.module.scss
Labels: bug, CLIENT, development, frontend

#298 bt-297: Add Flipper store debug support to mobile app
  mobile/package.json
  mobile/src/framework/store/store.package.ts
  package-lock.json
Labels: MOBILE, development, root

#338 bt-310: Password field typo
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/bundles/users/validation-schemas/user-sign-up.validation-schema.ts
Labels: bug, CLIENT, development, shared

#253 bt-243: Fix arrow and colors in Select component
  .eslintrc.yml
  frontend/src/assets/img/select-arrow.svg
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/common/components/select/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/profile-step/constants/default.constants.ts
  frontend/src/bundles/talent-onboarding/components/skills-step/constants/default.constants.ts
  frontend/src/bundles/talent-onboarding/components/skills-step/skills-step.tsx
Labels: bug, CLIENT, development, frontend

#255 bt-231: Add slide animation to Drawer nav
  mobile/src/bundles/common/hooks/hooks.ts
  mobile/src/navigations/onboarding-navigator/components/steps/constants/constants.ts
  mobile/src/navigations/onboarding-navigator/components/steps/steps.tsx
  mobile/src/navigations/onboarding-navigator/components/steps/styles.ts
Labels: MOBILE, development

#262 bt-256: selector animations
  mobile/src/bundles/common/components/selector/constants/constants.ts
  mobile/src/bundles/common/components/selector/selector.tsx
  mobile/src/bundles/common/components/selector/styles.ts
Labels: MOBILE, development

#328 bt-318: but the layout of the sign in page does not correspont to the approved desig
  mobile/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/bundles/auth/components/sign-in-form/styles.ts
Labels: bug, MOBILE, development

#353 bt-351: * run command
  .github/workflows/build-android.yml
Labels: MOBILE

#354 bt-351: * fixed node
  .github/workflows/build-android.yml
Labels: MOBILE

#304 bt-301: Fix title for ExperienceYears on slider
  mobile/src/bundles/common/components/slider/slider.tsx
  mobile/src/bundles/talent/components/profile-form/constants/constants.ts
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
  mobile/src/bundles/talent/enums/enums.ts
Labels: bug, MOBILE, development

#296 bt-287: add get current user request to mobile
  mobile/src/bundles/auth/auth-api.ts
  mobile/src/bundles/auth/screens/auth.tsx
  mobile/src/bundles/auth/store/actions.ts
  mobile/src/bundles/auth/store/index.ts
  mobile/src/bundles/auth/store/slice.ts
  mobile/src/bundles/auth/types/types.ts
  mobile/src/navigations/root/root.tsx
Labels: MOBILE, development

#212 bt-109: Create Onboarding Step 3 screen and logic
  mobile/src/bundles/common/components/autocomplete-selectors/autocomplete-multi-selector.tsx
  mobile/src/bundles/common/components/autocomplete-selectors/autocomplete-selector.tsx
  mobile/src/bundles/common/components/autocomplete-selectors/styles.ts
  mobile/src/bundles/common/components/button/button.tsx
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/input/input.tsx
  mobile/src/bundles/common/components/selector/selector.tsx
  mobile/src/bundles/common/components/tag/styles.ts
  mobile/src/bundles/common/components/tag/tag.tsx
  mobile/src/bundles/common/enums/ui/icon-name.enum.ts
  mobile/src/bundles/common/hooks/hooks.ts
  mobile/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/bundles/common/hooks/use-visibility/use-visibility.ts
  mobile/src/bundles/talent/components/checkbox-group/checkbox-group.tsx
  mobile/src/bundles/talent/components/checkbox-group/styles.ts
  mobile/src/bundles/talent/components/components.ts
  mobile/src/bundles/talent/components/cv-and-contacts-form/cv-and-contacts-form.tsx
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
  mobile/src/bundles/talent/components/skills-and-projects-form/constants/constants.ts
  mobile/src/bundles/talent/components/skills-and-projects-form/skills-and-projects-form.tsx
  mobile/src/bundles/talent/components/skills-and-projects-form/styles.ts
  mobile/src/bundles/talent/enums/enums.ts
  mobile/src/bundles/talent/screens/skills-and-projects.tsx
  mobile/src/bundles/talent/store/actions.ts
  mobile/src/bundles/talent/store/index.ts
  mobile/src/bundles/talent/store/slice.ts
  mobile/src/bundles/talent/talent-api.ts
  mobile/src/bundles/talent/types/types.ts
  mobile/src/bundles/talent/validation-schemas/validation-schemas.ts
  mobile/src/navigations/onboarding-navigator/talent-onboarding.tsx
  shared/src/bundles/talent-onboarding/enums/skills-step.validation-message.ts
  shared/src/bundles/talent-onboarding/enums/skills-step.validation-rule.ts
  shared/src/bundles/talent-onboarding/types/skills-step-dto.ts
  wq
Labels: MOBILE, development, shared, root

#367 bt-364: Fixed talent slice
  mobile/src/bundles/talent/store/slice.ts
Labels: bug, MOBILE, development

#260 bt-208: add logic to onboarding step 4
  mobile/package.json
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/file-picker/constants/constants.ts
  mobile/src/bundles/common/components/file-picker/file-picker.tsx
  mobile/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/bundles/talent/components/avatar-picker/avatar-picker.tsx
  mobile/src/bundles/talent/components/cv-and-contacts-form/constants/constants.ts
  mobile/src/bundles/talent/components/cv-and-contacts-form/cv-and-contacts-form.tsx
  mobile/src/bundles/talent/enums/contacts-cv-step/cv-and-contacts-form-validation-message.enum.ts
  mobile/src/bundles/talent/enums/contacts-cv-step/cv-and-contacts-form-validation-rule.enum.ts
  mobile/src/bundles/talent/enums/enums.ts
  mobile/src/bundles/talent/helpers/check-if-file-size-valid.ts
  mobile/src/bundles/talent/helpers/check-if-image-type-valid.ts
  mobile/src/bundles/talent/helpers/constants/constants.ts
  mobile/src/bundles/talent/helpers/helpers.ts
  mobile/src/bundles/talent/store/actions.ts
  mobile/src/bundles/talent/types/cv-and-contacts-form/cv-and-contacts-form-dto.ts
  mobile/src/bundles/talent/types/types.ts
  mobile/src/bundles/talent/validation-schemas/cv-and-contacts-form/cv-and-contacts-form.validation-schema.ts
  mobile/src/bundles/talent/validation-schemas/validation-schemas.ts
  package-lock.json
Labels: MOBILE, development, root, AC/US +

#346 bt-331: Fix badges that aren't displayed as selected by default
  mobile/src/bundles/common/components/checkbox/checkbox.tsx
Labels: bug, MOBILE, development

#314 bt-290: Create badges and hard skills endpoints
  backend/src/bundles/bsa-badges/bsa-badges.controller.ts
  backend/src/bundles/bsa-badges/bsa-badges.entity.ts
  backend/src/bundles/bsa-badges/bsa-badges.model.ts
  backend/src/bundles/bsa-badges/bsa-badges.repository.ts
  backend/src/bundles/bsa-badges/bsa-badges.service.ts
  backend/src/bundles/bsa-badges/bsa-badges.ts
  backend/src/bundles/bsa-badges/enums/enums.ts
  backend/src/bundles/hard-skills/enums/enums.ts
  backend/src/bundles/hard-skills/hard-skills.controller.ts
  backend/src/bundles/hard-skills/hard-skills.model.ts
  backend/src/bundles/hard-skills/hard-skills.repository.ts
  backend/src/bundles/hard-skills/hard-skills.service.ts
  backend/src/bundles/hard-skills/hard-skills.ts
  backend/src/bundles/talent-badges/talent-badge.model.ts
  backend/src/common/server-application/server-application.ts
  shared/src/bundles/talent-onboarding/enums/bsa-badge/bsa-badge-api-path.enum.ts
  shared/src/bundles/talent-onboarding/enums/enums.ts
  shared/src/bundles/talent-onboarding/enums/hard-skills/hard-skills-api-path.enum.ts
  shared/src/bundles/talent-onboarding/talent-onboarding.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: SERVER, development, shared, backend

#376 bt-375: change extensions for development env
  backend/src/common/server-application/server-app-api-base.ts
Labels: bug, SERVER, development, backend

#230 bt-211: add no connection to the server component
  mobile/package.json
  mobile/src/app/app.tsx
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/lost-connection-modal/lost-connection-modal.tsx
  mobile/src/bundles/common/components/lost-connection-modal/styles.ts
  mobile/src/bundles/common/enums/ui/icon-name.enum.ts
  package-lock.json
Labels: MOBILE, development, root

#225 bt-221: sign in sign up text animation
  frontend/src/bundles/auth/components/auth-layout/auth-layout.tsx
  frontend/src/bundles/auth/components/auth-layout/styles.module.scss
Labels: CLIENT, development, frontend

#380 bt-362: [BUG] hard skills typing assistant doesn't work
  frontend/src/bundles/talent-onboarding/components/skills-step/components/skills-autocomplete.tsx
Labels: bug, CLIENT, development, frontend

#273 bt-250: Create file upload endpoint
  backend/.env.example
  backend/package.json
  backend/src/bundles/files/file.controller.ts
  backend/src/bundles/files/file.entity.ts
  backend/src/bundles/files/file.model.ts
  backend/src/bundles/files/file.repository.ts
  backend/src/bundles/files/file.service.ts
  backend/src/bundles/files/files.ts
  backend/src/common/packages/config/config-base.package.ts
  backend/src/common/packages/config/types/environment-schema.type.ts
  backend/src/common/packages/file-storage/file-storage.package.ts
  backend/src/common/packages/file-storage/file-storage.ts
  backend/src/common/packages/file-storage/types/file-storage.type.ts
  backend/src/common/packages/file-storage/types/types.ts
  backend/src/common/packages/packages.ts
  backend/src/common/server-application/server-application.ts
  backend/src/migrations/20230907092959_update_files_table.ts
  shared/src/bundles/file/enums/enums.ts
  shared/src/bundles/file/enums/file-api-path.enum.ts
  shared/src/bundles/file/file.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: SERVER, development, shared, backend, ENV

#226 bt-222: Click on logo redirects to main page
  frontend/src/bundles/common/components/logo/logo.tsx
  frontend/src/bundles/common/components/logo/styles.module.scss
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/sidebar/styles.module.scss
Labels: CLIENT, development, frontend

#197 bt-124: Chat message list component
  frontend/src/bundles/chat/components/components.ts
  frontend/src/bundles/chat/components/message-item/message-item.tsx
  frontend/src/bundles/chat/components/message-item/styles.module.scss
  frontend/src/bundles/chat/components/message-list/message-list.tsx
  frontend/src/bundles/chat/components/message-list/styles.module.scss
  frontend/src/helpers/helpers.ts
  shared/src/helpers/user/get-avatar-initials.ts
Labels: development, frontend, shared

#201 bt-125: Create chat list component
  frontend/src/assets/img/send-message.svg
  frontend/src/bundles/chat/components/chat-list/chat-item/chat-list-item.tsx
  frontend/src/bundles/chat/components/chat-list/chat-item/styles.module.scss
  frontend/src/bundles/chat/components/chat-list/chat-list-search/chat-list-search.tsx
  frontend/src/bundles/chat/components/chat-list/chat-list-search/styles.module.scss
  frontend/src/bundles/chat/components/chat-list/chat-list.tsx
  frontend/src/bundles/chat/components/chat-list/components.ts
  frontend/src/bundles/chat/components/chat-list/constants/constants.ts
  frontend/src/bundles/chat/components/chat-list/styles.module.scss
  frontend/src/bundles/chat/components/components.ts
  frontend/src/helpers/helpers.ts
  package-lock.json
  shared/src/helpers/chat-list/get-items-with-selected.ts
  shared/src/helpers/chat-list/get-searched-items.ts
  shared/src/helpers/chat-list/helpers.ts
  shared/src/helpers/helpers.ts
  shared/src/index.ts
  shared/src/types/chat-list-item.type.ts
  shared/src/types/types.ts
Labels: CLIENT, development, frontend, shared, root

#398 bt-391: Fix imports in shared
  .eslintrc.yml
  shared/src/bundles/talent-onboarding/types/skills-step-dto.ts
  shared/src/bundles/user-details/types/user-details-create-request-dto.type.ts
  shared/src/bundles/user-details/types/user-details-find-request-dto.type.ts
  shared/src/bundles/user-details/types/user-details-response-dto.type.ts
  shared/src/bundles/user-details/types/user-details-update-dto.type.ts
  shared/src/bundles/user-details/types/user-details-update-request-dto.type.ts
  shared/src/framework/http/types/http.type.ts
  shared/src/framework/http/types/types.ts
  shared/src/framework/storage/storage.ts
  shared/src/helpers/chat-list/get-items-with-selected.ts
  shared/src/helpers/chat-list/get-searched-items.ts
  shared/src/helpers/chat-list/helpers.ts
  shared/tsconfig.json
Labels: bug, development, shared, improvement

#394 bt-371: Remove global tags from styles
  .stylelintrc.yml
  frontend/src/bundles/common/components/checkbox/styles.module.scss
  frontend/src/bundles/common/components/chip/styles.module.scss
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.scss
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/bundles/common/components/logo/logo.tsx
  frontend/src/bundles/common/components/logo/styles.module.scss
  frontend/src/bundles/common/components/radio/components/radio-item/styles.module.scss
  frontend/src/bundles/common/components/select/styles.module.scss
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/sidebar/styles.module.scss
  frontend/src/bundles/common/components/textarea/styles.module.scss
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/bundles/common/pages/not-found/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/skills-step/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/step-content/styles.module.scss
Labels: CLIENT, development, frontend, improvement

#199 bt-126: Create chat header and send message components
  frontend/src/bundles/chat/components/chat-header/chat-header.tsx
  frontend/src/bundles/chat/components/chat-header/styles.module.scss
  frontend/src/bundles/chat/components/components.ts
  frontend/src/bundles/chat/components/message-input/message-input.tsx
  frontend/src/bundles/chat/components/message-input/styles.module.scss
Labels: CLIENT, development, frontend

#378 bt-365: [BUG] Selector list should appear above screen content
  mobile/src/bundles/common/components/selector/selector.tsx
  mobile/src/bundles/common/components/selector/styles.ts
Labels: bug, MOBILE, development

#383 bt-357: [BUG] The "I'm hiring/ I'm looking for the job" radio buttons go outside of the Sign up form
  mobile/src/bundles/common/components/radio-buttons/radio-buttons.tsx
  mobile/src/bundles/common/components/radio-buttons/styles.ts
Labels: bug, MOBILE, development

#413 bt-401: [BUG] Not all fields are highlighted in red on Step 01 when empty
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/common/components/select/styles.module.scss
  frontend/src/bundles/common/components/textarea/styles.module.scss
  frontend/src/bundles/common/components/textarea/textarea.tsx
  frontend/src/bundles/talent-onboarding/components/profile-step/profile-step.tsx
  frontend/src/bundles/talent-onboarding/components/skills-step/skills-step.tsx
Labels: bug, CLIENT, development, frontend, AC/US +

#410 bt-385: bug fix animation on dropdown selector
  mobile/src/bundles/common/components/autocomplete-selectors/autocomplete-multi-selector.tsx
  mobile/src/bundles/common/components/autocomplete-selectors/autocomplete-selector.tsx
  mobile/src/bundles/common/components/autocomplete-selectors/constants/constants.ts
  mobile/src/bundles/common/components/autocomplete-selectors/styles.ts
  mobile/src/bundles/common/components/selector/constants/constants.ts
  mobile/src/bundles/common/components/selector/selector.tsx
  mobile/src/bundles/common/components/selector/styles.ts
  mobile/src/bundles/common/hooks/hooks.ts
  mobile/src/bundles/common/hooks/use-selector-animations/constants/constants.ts
  mobile/src/bundles/common/hooks/use-selector-animations/use-selector-animations.ts
Labels: bug, MOBILE, development

#228 bt-215: create profile layout
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/mocked-project-picture.png
  frontend/src/assets/img/rounded-arrow.svg
  frontend/src/bundles/common/components/badge/badge.tsx
  frontend/src/bundles/common/components/badge/components/badge-icon/badge-icon.tsx
  frontend/src/bundles/common/components/badge/styles.module.scss
  frontend/src/bundles/common/components/link/link.tsx
  frontend/src/bundles/common/components/sidebar/styles.module.scss
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/enums/badge-colors.enum.ts
  frontend/src/bundles/talent-onboarding/components/bread-crumbs/bread-crumbs.tsx
  frontend/src/bundles/talent-onboarding/components/bread-crumbs/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/candidate-profile/candidate-parameter/candidate-parameter.tsx
  frontend/src/bundles/talent-onboarding/components/candidate-profile/candidate-parameter/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/candidate-profile/candidate-profile.tsx
  frontend/src/bundles/talent-onboarding/components/candidate-profile/profile-first-section/profile-first-section.tsx
  frontend/src/bundles/talent-onboarding/components/candidate-profile/profile-first-section/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/candidate-profile/profile-second-section/profile-second-section.tsx
  frontend/src/bundles/talent-onboarding/components/candidate-profile/profile-second-section/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/candidate-profile/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/components.ts
  frontend/src/bundles/talent-onboarding/components/components.tsx
  frontend/src/bundles/talent-onboarding/components/step-content/step-content.tsx
  frontend/src/bundles/talent-onboarding/components/step-content/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/step-navigation/step-navigation.tsx
  frontend/src/bundles/talent-onboarding/enums/candidate-icons.enum.ts
  frontend/src/bundles/talent-onboarding/enums/enums.ts
  frontend/src/bundles/talent-onboarding/pages/candidate-page/candidate-page.tsx
  frontend/src/bundles/talent-onboarding/pages/onboarding/styles.module.scss
  frontend/src/index.tsx
Labels: CLIENT, development, frontend

#234 bt-214: add dropdown common component
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/auth.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/dropdown/components.ts
  frontend/src/bundles/common/components/dropdown/components/menu-button/menu-button.tsx
  frontend/src/bundles/common/components/dropdown/components/menu-button/styles.module.scss
  frontend/src/bundles/common/components/dropdown/components/menu-item/menu-item.tsx
  frontend/src/bundles/common/components/dropdown/components/menu-item/styles.module.scss
  frontend/src/bundles/common/components/dropdown/components/menu/menu.tsx
  frontend/src/bundles/common/components/dropdown/components/menu/styles.module.scss
  frontend/src/bundles/common/components/dropdown/dropdown.tsx
  frontend/src/bundles/common/components/header/components.ts
  frontend/src/bundles/common/components/header/components/header-user-menu/header-user-menu.tsx
  frontend/src/bundles/common/components/header/components/header-user-menu/styles.module.scss
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.scss
  frontend/src/bundles/common/components/page-layout/styles.module.scss
Labels: CLIENT, development, frontend, AC/US +

#405 bt-402: * [Bug Fix ] Alignment fix
  frontend/src/bundles/talent-onboarding/components/profile-step/styles.module.scss
Labels: bug, development, frontend

#411 bt-395: Wrong name of the "Experience" field on Step 01
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
Labels: bug, MOBILE, development

#377 bt-356: [BUG] Step 4 doesn't correspond the design
  frontend/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/bundles/talent-onboarding/components/contacts-cv-step/contacts-cv-step.tsx
  frontend/src/bundles/talent-onboarding/components/contacts-cv-step/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/step-content/step-content.tsx
  frontend/src/bundles/talent-onboarding/components/steps/steps.tsx
  frontend/src/bundles/talent-onboarding/enums/contacts-cv-step/contacts-cv-step.validation-message.ts
  frontend/src/bundles/talent-onboarding/enums/enums.ts
  frontend/src/bundles/talent-onboarding/enums/steps.enum.ts
  frontend/src/bundles/talent-onboarding/helpers/format-step-labels/format-step-labels.ts
  frontend/src/bundles/talent-onboarding/helpers/helpers.ts
  frontend/src/bundles/talent-onboarding/helpers/validate-file-size.ts
  frontend/src/bundles/talent-onboarding/validation-schemas/contacts-cv-step/contacts-cv-step.validation-schema.ts
Labels: CLIENT, development, frontend, AC/US -

#414 bt-246: drawer logic
  mobile/src/bundles/talent/store/slice.ts
  mobile/src/navigations/onboarding-navigator/talent-onboarding.tsx
Labels: MOBILE, development

#339 bt-332: Adapt the sidebar for mobile layout for the whole project
  frontend/src/bundles/common/components/logo/logo.tsx
  frontend/src/bundles/common/components/page-layout/page-layout.tsx
  frontend/src/bundles/common/components/page-layout/styles.module.scss
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/sidebar/styles.module.scss
Labels: CLIENT, development, frontend, improvement

#382 bt-295: Create employer registration page
  frontend/src/bundles/common/components/file-upload/file-upload.tsx
  frontend/src/bundles/employer-onboarding/components/onboarding-form/components/employer-file-upload.tsx
  frontend/src/bundles/employer-onboarding/components/onboarding-form/constants/constants.ts
  frontend/src/bundles/employer-onboarding/components/onboarding-form/onboarding-form.tsx
  frontend/src/bundles/employer-onboarding/components/onboarding-form/styles.module.scss
  frontend/src/bundles/employer-onboarding/enums/enums.ts
  frontend/src/bundles/employer-onboarding/enums/onboarding-form/onboarding-form.validation-message.ts
  frontend/src/bundles/employer-onboarding/enums/onboarding-form/onboarding-form.validation-rule.ts
  frontend/src/bundles/employer-onboarding/helpers/file-size-validator.ts
  frontend/src/bundles/employer-onboarding/helpers/helpers.ts
  frontend/src/bundles/employer-onboarding/pages/onboarding/onboarding.tsx
  frontend/src/bundles/employer-onboarding/pages/onboarding/styles.module.scss
  frontend/src/bundles/employer-onboarding/store/actions.ts
  frontend/src/bundles/employer-onboarding/store/employer-onboarding.ts
  frontend/src/bundles/employer-onboarding/store/slice.ts
  frontend/src/bundles/employer-onboarding/types/onboarding-form/onboarding-dto.ts
  frontend/src/bundles/employer-onboarding/types/types.ts
  frontend/src/bundles/employer-onboarding/validation-schemas/onboarding-form/onboarding-form.validation-schema.ts
  frontend/src/bundles/employer-onboarding/validation-schemas/validation-schemas.ts
  frontend/src/framework/store/store.package.ts
Labels: CLIENT, development, frontend

#272 bt-216: Create contact candidate modal
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/candidate/components/candidate-modal/candidate-modal.tsx
  frontend/src/bundles/candidate/components/candidate-modal/constants.tsx
  frontend/src/bundles/candidate/components/candidate-modal/styles.module.scss
  frontend/src/bundles/candidate/components/components.tsx
  frontend/src/bundles/candidate/components/message-template/message-template.tsx
  frontend/src/bundles/candidate/components/message-template/styles.module.scss
  frontend/src/bundles/candidate/pages/candidate.tsx
  frontend/src/bundles/candidate/store/actions.ts
  frontend/src/bundles/candidate/store/candidate.ts
  frontend/src/bundles/candidate/store/slice.ts
  frontend/src/bundles/candidate/types/types.ts
  frontend/src/bundles/candidate/validation-schemas/validation-schemas.ts
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/modal/styles.module.scss
  frontend/src/bundles/common/components/textarea/textarea.tsx
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/talent-onboarding/components/skills-step/components/skills-project-links.tsx
  frontend/src/bundles/talent-onboarding/components/skills-step/skills-step.tsx
  frontend/src/framework/store/store.package.ts
  shared/src/bundles/candidate/candidate.ts
  shared/src/bundles/candidate/enums/contact-candidate.validation-message.ts
  shared/src/bundles/candidate/enums/contact-candidate.validation-rule.ts
  shared/src/bundles/candidate/enums/enums.ts
  shared/src/bundles/candidate/types/contact-candidate-dto.type.ts
  shared/src/bundles/candidate/types/message-template-dto.type.ts
  shared/src/bundles/candidate/types/types.ts
  shared/src/bundles/candidate/validation-schemas/contact-modal.validation-schema.ts
  shared/src/bundles/candidate/validation-schemas/validation-schemas.ts
  shared/src/helpers/get-nested-property/get-nested-property.ts
  shared/src/helpers/helpers.ts
  shared/src/index.ts
Labels: CLIENT, development, frontend, shared

#372 bt-349: Fix step 1 design
  frontend/src/bundles/common/components/form-label/form-label.tsx
  frontend/src/bundles/common/components/form-label/styles.module.scss
  frontend/src/bundles/common/components/select/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/profile-step/profile-step.tsx
  frontend/src/bundles/talent-onboarding/helpers/map-experience-years-to-marks/map-experience-years-to-marks.ts
  shared/src/bundles/talent-onboarding/enums/profile-step/profile-step.validation-rule.ts
  shared/src/bundles/user-details/enums/employment-type.enum.ts
Labels: bug, development, frontend, shared, improvement

#213 bt-129: Create info about company in chat UI
  frontend/src/bundles/chat/components/company-info/company-info.tsx
  frontend/src/bundles/chat/components/company-info/styles.module.scss
  frontend/src/bundles/chat/components/components.ts
  frontend/src/bundles/chat/types/company-info/company-info-dto.ts
  frontend/src/bundles/chat/types/types.ts
  frontend/src/helpers/helpers.ts
Labels: CLIENT, development, frontend

#396 bt-330: [BUG] The "Step" in the right upper corner is moved to another line
  mobile/src/navigations/onboarding-navigator/components/header/header.tsx
Labels: bug, MOBILE, development

#429 bt-424: Add redirection to Employer registration page after Sign Up as Employer
  frontend/src/bundles/auth/enums/enums.ts
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/employer-onboarding/pages/onboarding/onboarding.tsx
  frontend/src/index.tsx
Labels: CLIENT, development, frontend

#436 bt-431: [BUG] Logo on the sidebar is placed not according to the design
  frontend/src/bundles/common/components/logo/styles.module.scss
Labels: bug, CLIENT, development, frontend

#421 bt-407: Change the requirements for the mandatory field "I do not consider" Step 3
  frontend/src/bundles/common/components/sidebar/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/skills-step/skills-step.tsx
Labels: CLIENT, development, frontend

#409 bt-387: The layout of the Step 03 page does not match the approved design
  mobile/src/bundles/common/components/autocomplete-selectors/autocomplete-multi-selector.tsx
  mobile/src/bundles/common/components/autocomplete-selectors/autocomplete-selector.tsx
  mobile/src/bundles/common/components/form-field/form-field.tsx
  mobile/src/bundles/common/components/selector/selector.tsx
  mobile/src/bundles/talent/components/skills-and-projects-form/skills-and-projects-form.tsx
Labels: bug, MOBILE, development

#426 bt-385: Fix selector animations
  mobile/src/bundles/common/components/autocomplete-selectors/autocomplete-multi-selector.tsx
  mobile/src/bundles/common/components/autocomplete-selectors/autocomplete-selector.tsx
  mobile/src/bundles/common/components/autocomplete-selectors/styles.ts
Labels: bug, MOBILE, development

#425 bt-159: [BUG] The page contains a radio button without any label on the screen “Sing Up”
  mobile/src/bundles/common/components/radio-buttons/radio-buttons.tsx
  mobile/src/bundles/common/components/radio-buttons/styles.ts
Labels: bug, MOBILE, development

#439 bt-438: * slack file upload version
  .github/workflows/build-android.yml
Labels: MOBILE, workflows, development

#440 bt-438: + continue on error rule
  .github/workflows/build-android.yml
Labels: MOBILE, workflows, development

#427 bt-393: add loader on application start to get current user action
  mobile/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/bundles/auth/screens/auth.tsx
  mobile/src/bundles/auth/store/actions.ts
  mobile/src/bundles/auth/store/slice.ts
  mobile/src/bundles/common/components/loader/loader.tsx
  mobile/src/bundles/common/enums/app/data-status.enum.ts
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/ui/loader-size.enum.ts
  mobile/src/bundles/common/enums/ui/ui.ts
  mobile/src/navigations/root/root.tsx
Labels: MOBILE, development

#308 bt-270: create filters form component
  mobile/src/bundles/common/components/checkbox-group/checkbox-group.tsx
  mobile/src/bundles/common/components/checkbox-group/styles.ts
  mobile/src/bundles/common/components/components.tsx
  mobile/src/bundles/common/components/divider/divider.tsx
  mobile/src/bundles/common/components/divider/styles.ts
  mobile/src/bundles/common/components/input/input.tsx
  mobile/src/bundles/common/components/switch/switch.tsx
  mobile/src/bundles/common/enums/styles/text-category.enum.ts
  mobile/src/bundles/common/styles/fonts.ts
  mobile/src/bundles/common/types/types.ts
  mobile/src/bundles/employer/enums/enums.ts
  mobile/src/bundles/employer/screens/candidates-filter.tsx
  mobile/src/bundles/employer/screens/candidates.tsx
  mobile/src/bundles/employer/screens/constants/constants.ts
  mobile/src/bundles/employer/screens/constants/mock-constants.ts
  mobile/src/bundles/employer/screens/screens.ts
  mobile/src/bundles/talent/components/components.ts
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
  mobile/src/bundles/talent/components/profile-form/styles.ts
  mobile/src/bundles/talent/components/skills-and-projects-form/skills-and-projects-form.tsx
  mobile/src/bundles/users/types/types.ts
Labels: MOBILE, development

#415 bt-160: create chat page layout
  frontend/src/bundles/chat/components/chat-header/chat-header.tsx
  frontend/src/bundles/chat/components/chat-header/styles.module.scss
  frontend/src/bundles/chat/components/chat-list/chat-item/styles.module.scss
  frontend/src/bundles/chat/components/chat-list/chat-list-search/styles.module.scss
  frontend/src/bundles/chat/components/chat-list/chat-list.tsx
  frontend/src/bundles/chat/components/chat-list/styles.module.scss
  frontend/src/bundles/chat/components/company-info/company-info.tsx
  frontend/src/bundles/chat/components/company-info/styles.module.scss
  frontend/src/bundles/chat/components/message-input/message-input.tsx
  frontend/src/bundles/chat/components/message-input/styles.module.scss
  frontend/src/bundles/chat/components/message-item/styles.module.scss
  frontend/src/bundles/chat/components/message-list/message-list.tsx
  frontend/src/bundles/chat/components/message-list/styles.module.scss
  frontend/src/bundles/chat/components/small-screen-button/components.ts
  frontend/src/bundles/chat/components/small-screen-button/components/chat-info-icon.tsx
  frontend/src/bundles/chat/components/small-screen-button/components/chat-list-icon.tsx
  frontend/src/bundles/chat/components/small-screen-button/components/small-screen-button.tsx
  frontend/src/bundles/chat/constants/constants.ts
  frontend/src/bundles/chat/mock-data/mock-data.ts
  frontend/src/bundles/chat/pages/chats/chats-page.tsx
  frontend/src/bundles/chat/pages/chats/styles.module.scss
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/index.tsx
Labels: CLIENT, development, frontend

#399 bt-348: Add logout button to Drawer navigation
  mobile/src/bundles/auth/store/actions.ts
  mobile/src/bundles/auth/store/index.ts
  mobile/src/bundles/auth/store/slice.ts
  mobile/src/bundles/talent/store/actions.ts
  mobile/src/bundles/talent/store/index.ts
  mobile/src/bundles/talent/store/slice.ts
  mobile/src/bundles/users/store/actions.ts
  mobile/src/bundles/users/store/index.ts
  mobile/src/bundles/users/store/slice.ts
  mobile/src/navigations/onboarding-navigator/components/steps/steps.tsx
  mobile/src/navigations/onboarding-navigator/components/steps/styles.ts
Labels: MOBILE, development, improvement

#441 bt-424: Add redirection to Employer registration page after Sign In as Employer
  frontend/src/bundles/auth/pages/auth.tsx
Labels: CLIENT, development, frontend

#403 bt-368: Add step 5 preview screen onboarding
  mobile/src/assets/images/project.png
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/ui/badge-size.enum.ts
  mobile/src/bundles/common/enums/ui/icon-name.enum.ts
  mobile/src/bundles/common/enums/ui/ui.ts
  mobile/src/bundles/talent/components/badge/badge.tsx
  mobile/src/bundles/talent/components/badge/styles.ts
  mobile/src/bundles/talent/components/badges-form/badges-group.tsx
  mobile/src/bundles/talent/components/badges-form/styles.ts
  mobile/src/bundles/talent/components/components.ts
  mobile/src/bundles/talent/components/cv-and-contacts-form/cv-and-contacts-form.tsx
  mobile/src/bundles/talent/components/feedbacks-container/feedbacks-container.tsx
  mobile/src/bundles/talent/components/feedbacks-container/styles.ts
  mobile/src/bundles/talent/components/preview-tabs/preview-tabs.tsx
  mobile/src/bundles/talent/components/preview-tabs/styles.ts
  mobile/src/bundles/talent/components/profile-preview/profile-preview.tsx
  mobile/src/bundles/talent/components/profile-preview/styles.ts
  mobile/src/bundles/talent/components/project-container/project-container.tsx
  mobile/src/bundles/talent/components/project-container/style.ts
  mobile/src/bundles/talent/components/scores-and-skills-container/scores-and-skills-container.tsx
  mobile/src/bundles/talent/components/scores-and-skills-container/styles.ts
  mobile/src/bundles/talent/enums/enums.ts
  mobile/src/bundles/talent/enums/profile-tab/profile-tab.enum.ts
  mobile/src/bundles/talent/screens/preview.tsx
  mobile/src/bundles/talent/screens/preview/preview.tsx
  mobile/src/bundles/talent/screens/preview/style.ts
  mobile/src/bundles/talent/screens/screens.ts
Labels: MOBILE, development

#445 bt-443: fix placeholder color in multiselector
  mobile/src/bundles/common/components/selector/selector.tsx
Labels: bug, MOBILE, development

#448 bt-446: Remove asterisk
  frontend/src/bundles/talent-onboarding/components/skills-step/skills-step.tsx
Labels: CLIENT, development, frontend, improvement

#340 bt-203: Create the "Has the employer already hired you?" block on the chat page
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/confirm-hire/confirm-hire.tsx
  frontend/src/bundles/common/components/confirm-hire/styles.module.scss
  frontend/src/bundles/common/components/confirm-modal/confirm-modal.tsx
  frontend/src/bundles/common/components/confirm-modal/styles.module.scss
  frontend/src/bundles/common/components/modal/styles.module.scss
Labels: CLIENT, development, frontend

#449 bt-437: update preview step with real data
  frontend/src/assets/mock-data/mock-badges.constants.ts
  frontend/src/assets/mock-data/mock-candidates.ts
  frontend/src/assets/mock-data/mock-data.ts
  frontend/src/assets/mock-data/mock-hr-comments.ts
  frontend/src/bundles/employers/components/filters/styles.module.scss
  frontend/src/bundles/employers/pages/candidates.tsx
  frontend/src/bundles/employers/pages/styles.module.scss
  frontend/src/bundles/lms/types/types.ts
  frontend/src/bundles/talent-onboarding/components/badges-step/badges-step.tsx
  frontend/src/bundles/talent-onboarding/components/candidate-profile/candidate-profile.tsx
  frontend/src/bundles/talent-onboarding/components/candidate-profile/profile-first-section/profile-first-section.tsx
  frontend/src/bundles/talent-onboarding/components/candidate-profile/profile-second-section/profile-second-section.tsx
  frontend/src/bundles/talent-onboarding/components/candidate-profile/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/profile-step/constants/default.constants.ts
  frontend/src/bundles/talent-onboarding/components/profile-step/profile-step.tsx
  frontend/src/bundles/talent-onboarding/components/skills-step/constants/default.constants.ts
  frontend/src/bundles/talent-onboarding/components/skills-step/skills-step.tsx
  frontend/src/bundles/talent-onboarding/helpers/helpers.ts
  frontend/src/bundles/talent-onboarding/helpers/map-experience-to-string/map-experience-to-string.ts
  frontend/src/bundles/talent-onboarding/pages/onboarding/styles.module.scss
  frontend/src/bundles/talent-onboarding/store/actions.ts
  frontend/src/bundles/talent-onboarding/store/slice.ts
  frontend/src/bundles/talent-onboarding/types/candidate-profile/candidate-profile.ts
  frontend/src/bundles/talent-onboarding/types/types.ts
Labels: CLIENT, development, frontend

#467 bt-447: The field "Email" accepts symbols that are not provided for in the validation document on page "Sign Up"
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/validation-schemas/constants/constants.ts
  shared/src/bundles/users/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/bundles/users/validation-schemas/user-sign-up.validation-schema.ts
Labels: bug, MOBILE, development, shared

#483 bt-417: [BUG] Onboarding steps handles phone navigation buttons not right
  mobile/package.json
  mobile/src/bundles/common/hooks/hooks.ts
  mobile/src/bundles/talent/components/onboarding-back-button/onboarding-back-button.tsx
  package-lock.json
Labels: bug, MOBILE, development, root

#454 bt-452: Refactor selectors and filter component
  mobile/src/bundles/auth/store/actions.ts
  mobile/src/bundles/common/components/autocomplete-selectors/autocomplete-multi-selector.tsx
  mobile/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/bundles/employer/components/candidate-filter-form/candidate-filter-form.tsx
  mobile/src/bundles/employer/components/candidate-filter-form/constants/constants.ts
  mobile/src/bundles/employer/components/candidate-filter-form/constants/mock-constants.ts
  mobile/src/bundles/employer/components/candidate-filter-form/styles.ts
  mobile/src/bundles/employer/components/components.tsx
  mobile/src/bundles/employer/screens/candidates-filter.tsx
  mobile/src/bundles/employer/screens/constants/mock-constants.ts
  mobile/src/bundles/employer/types/employer-types/employees-filters-dto.ts
  mobile/src/bundles/employer/types/employer-types/employees-filters-option.ts
  mobile/src/bundles/employer/types/types.ts
  mobile/src/navigations/onboarding-navigator/talent-onboarding.tsx
Labels: bug, MOBILE, development

#480 bt-476: Remove Back button from Step 1
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
Labels: MOBILE, development, improvement

#510 bt-504: * Wrong placement of onclick animation background effect
  frontend/src/bundles/employers/components/filters/styles.module.scss
Labels: bug, CLIENT, development, frontend

#450 bt-369: Add onboarding screen for employer
  mobile/src/bundles/common/components/avatar/avatar.tsx
  mobile/src/bundles/common/components/components.ts
  mobile/src/bundles/common/components/image-picker/image-picker.tsx
  mobile/src/bundles/common/components/photo-picker/photo-picker.tsx
  mobile/src/bundles/common/components/selector/selector.tsx
  mobile/src/bundles/common/enums/enums.ts
  mobile/src/bundles/common/enums/ui/icon-name.enum.ts
  mobile/src/bundles/common/enums/ui/photo-type.enum.ts
  mobile/src/bundles/common/enums/ui/ui.ts
  mobile/src/bundles/common/types/components/avatar-properties.type.ts
  mobile/src/bundles/common/types/components/components.ts
  mobile/src/bundles/common/types/components/custom-photo-style.type.ts
  mobile/src/bundles/common/types/components/photo-properties.type.ts
  mobile/src/bundles/common/types/types.ts
  mobile/src/bundles/employer/components/components.ts
  mobile/src/bundles/employer/components/employer-onboarding-form/constants/constants.ts
  mobile/src/bundles/employer/components/employer-onboarding-form/employer-onboarding-form.tsx
  mobile/src/bundles/employer/components/employer-onboarding-form/styles.ts
  mobile/src/bundles/employer/enums/employer-onboarding/employer-onboarding-form-validation-message.enum.ts
  mobile/src/bundles/employer/enums/employer-onboarding/employer-onboarding-form-validation-rule.enum.ts
  mobile/src/bundles/employer/enums/employer-onboarding/employer-onboarding.enum.ts
  mobile/src/bundles/employer/enums/enums.ts
  mobile/src/bundles/employer/screens/employer-onboarding/employer-onboarding.tsx
  mobile/src/bundles/employer/screens/screens.ts
  mobile/src/bundles/employer/types/employer-types/employer-onboarding-form-dto.type.ts
  mobile/src/bundles/employer/types/employer-types/employer-types.ts
  mobile/src/bundles/employer/types/types.ts
  mobile/src/bundles/employer/validation-schemas/employer-onboarding-form.validation-schema.ts
  mobile/src/bundles/employer/validation-schemas/validation-schemas.ts
  mobile/src/bundles/talent/components/cv-and-contacts-form/cv-and-contacts-form.tsx
  mobile/src/bundles/talent/hooks/use-onboarding-form-submit/use-onboarding-form-submit.hook.ts
  mobile/src/navigations/root/root.tsx
Labels: MOBILE, development

#526 bt-428: Fix complete step bg
  mobile/src/navigations/onboarding-navigator/talent-onboarding-navigator/components/step/step.tsx
Labels: bug, MOBILE, development

#489 bt-460: Create profile component in admin user verification
  frontend/src/bundles/admin/admin.ts
  frontend/src/bundles/admin/components/components.tsx
  frontend/src/bundles/admin/components/profile/profile.tsx
  frontend/src/bundles/admin/components/profile/styles.module.scss
  frontend/src/bundles/common/components/chip/chip.tsx
Labels: CLIENT, development, frontend

#488 bt-390: Step 2 - Badge Checkboxes have a big on hover backgrounds
  frontend/src/bundles/talent-onboarding/components/badges-step/styles.module.scss
Labels: bug, development, frontend

#501 bt-486: [BUG] Badge's layout isn't displayed according to design on the Scores & Skills tab
  mobile/src/bundles/common/components/badge/badge.tsx
  mobile/src/bundles/common/enums/styles/text-category.enum.ts
  mobile/src/bundles/common/styles/global-styles/fonts.ts
Labels: bug, MOBILE, development

#264 bt-254: Add terms and conditions to signup page
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/styles.module.scss
  frontend/src/bundles/common/components/radio/components/radio-group/radio-group.tsx
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/bundles/common/pages/not-found/styles.module.scss
Labels: CLIENT, development, frontend, AC/US +

#505 bt-484: [BUG] The progress bar isn't displayed continuous
  mobile/src/navigations/onboarding-navigator/talent-onboarding-navigator/components/steps/styles.ts
Labels: bug, MOBILE, development

#519 bt-511: Remove scroll lines from navigation and all screens
  mobile/src/bundles/talent/components/badges-form/badges-form.tsx
  mobile/src/bundles/talent/components/cv-and-contacts-form/cv-and-contacts-form.tsx
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
  mobile/src/bundles/talent/components/skills-and-projects-form/skills-and-projects-form.tsx
  mobile/src/bundles/talent/screens/preview/preview.tsx
  mobile/src/navigations/onboarding-navigator/talent-onboarding-navigator/components/steps/steps.tsx
Labels: MOBILE, development, improvement

#389 bt-350: [BUG] Step 3 doesn't correspond the design
  frontend/src/bundles/common/components/select/styles.module.scss
  frontend/src/bundles/common/components/slider/styles.module.scss
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/talent-onboarding/components/skills-step/components/close-icon/close-icon-button.tsx
  frontend/src/bundles/talent-onboarding/components/skills-step/components/close-icon/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/skills-step/components/skills-project-links.tsx
  frontend/src/bundles/talent-onboarding/components/skills-step/skills-step.tsx
  frontend/src/bundles/talent-onboarding/components/skills-step/styles.module.scss
  shared/src/bundles/talent-onboarding/enums/skills-step.validation-message.ts
  shared/src/bundles/talent-onboarding/enums/skills-step/skills-step.validation-message.ts
  shared/src/bundles/talent-onboarding/validation-schemas/skills-step/skills-step.validation-schema.ts
  shared/src/bundles/user-details/validation-schemas/user-details-update.validation-schema.ts
Labels: bug, CLIENT, development, frontend, shared

#508 bt-355: Use-our-logo-for-loader
  frontend/src/bundles/common/components/loader/loader.tsx
  frontend/src/bundles/common/components/loader/styles.module.scss
Labels: CLIENT, development, frontend

#482 bt-453: [BUG] remove line on the bottom of chat layout
  frontend/src/bundles/chat/components/chat-list/chat-list.tsx
  frontend/src/bundles/chat/components/chat-list/styles.module.scss
  frontend/src/bundles/chat/pages/chats/styles.module.scss
Labels: bug, CLIENT, development, frontend

#374 bt-358: fix frontend
  frontend/src/bundles/auth/components/auth-forms/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/constants/constants.ts
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/auth-layout/styles.module.scss
  frontend/src/bundles/auth/components/components.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/pages/pages.ts
  frontend/src/bundles/auth/pages/reset-password-page/reset-password-page.tsx
  frontend/src/bundles/auth/pages/sign-in-page/sign-in-page.tsx
  frontend/src/bundles/auth/pages/sign-up-page/sign-up-page.tsx
  frontend/src/bundles/common/components/badge/components/badge-icon/badge-icon.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/file-upload/file-upload.tsx
  frontend/src/bundles/common/components/page-layout/page-layout.tsx
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
  frontend/src/bundles/common/components/radio/components/radio-group/radio-group.tsx
  frontend/src/bundles/common/components/slider/slider.tsx
  frontend/src/bundles/common/types/types.ts
  frontend/src/bundles/talent-onboarding/components/contacts-cv-step/contacts-cv-step.tsx
  frontend/src/bundles/talent-onboarding/components/skills-step/components/components.ts
  frontend/src/bundles/talent-onboarding/components/skills-step/components/skills-project-links/skills-project-links.tsx
  frontend/src/bundles/talent-onboarding/components/skills-step/skills-step.tsx
  frontend/src/bundles/talent-onboarding/context/components/form-submit-provider.context.tsx
  frontend/src/bundles/talent-onboarding/context/context.ts
  frontend/src/bundles/talent-onboarding/enums/contacts-cv-step/contacts-cv-step.validation-messages.enum.ts
  frontend/src/bundles/talent-onboarding/enums/contacts-cv-step/contacts-cv-step.validation-rules.enum.ts
  frontend/src/bundles/talent-onboarding/enums/enums.ts
  frontend/src/bundles/talent-onboarding/helpers/helpers.ts
  frontend/src/bundles/talent-onboarding/helpers/validate-file-size/validate-file-size.ts
  frontend/src/bundles/talent-onboarding/validation-schemas/contacts-cv-step/contacts-cv-step.validation-schema.ts
  frontend/src/bundles/users/enums/enums.ts
  frontend/src/bundles/users/users.ts
  frontend/src/bundles/users/validation-schemas/validation-schemas.ts
  frontend/src/index.tsx
Labels: bug, CLIENT, development, frontend

#545 bt-498: [BUG]The chosen country does not display in the field "Current location"
  mobile/src/bundles/common/components/autocomplete-selectors/styles.ts
Labels: bug, MOBILE, development

#548 bt-472: Change min symbols for Step1 description field
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
  shared/src/bundles/talent-onboarding/enums/profile-step/profile-step.validation-rule.ts
Labels: MOBILE, development, shared

#533 bt-529: Refactor backend endpoing and remove '/' on the end
  backend/src/bundles/bsa-badges/bsa-badges.controller.ts
  backend/src/bundles/hard-skills/hard-skills.controller.ts
  backend/src/bundles/user-details/user-details.controller.ts
  backend/src/bundles/users/user.controller.ts
  shared/src/bundles/auth/enums/auth-api-path.enum.ts
  shared/src/bundles/talent-onboarding/enums/bsa-badge/bsa-badge-api-path.enum.ts
  shared/src/bundles/talent-onboarding/enums/hard-skills/hard-skills-api-path.enum.ts
  shared/src/bundles/user-details/enums/user-details-api-path.enum.ts
  shared/src/bundles/users/enums/users-api-path.enum.ts
Labels: bug, development, shared, backend

#532 bt-500: Add verification label
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/page-layout/page-layout.tsx
  frontend/src/bundles/common/components/verification-label/styles.module.scss
  frontend/src/bundles/common/components/verification-label/verification-label.tsx
  frontend/src/bundles/talent-onboarding/store/slice.ts
  shared/src/bundles/user-details/types/user-details-update-dto.type.ts
  shared/src/bundles/user-details/types/user-details-update-request-dto.type.ts
  shared/src/bundles/user-details/validation-schemas/user-details-update.validation-schema.ts
Labels: CLIENT, development, frontend, shared

#518 bt-487: Fix mocked hardskills
  frontend/src/bundles/talent-onboarding/components/skills-step/constants/default.constants.ts
  frontend/src/bundles/talent-onboarding/store/actions.ts
  frontend/src/bundles/talent-onboarding/store/slice.ts
Labels: CLIENT, development, frontend, improvement

#465 bt-423: Add dropdown for sorting search reasults
  backend/src/bundles/user-details/helpers/create-sorting-users-parameters.ts
  frontend/src/assets/mock-data/mock-candidates.ts
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/common/components/select/styles.module.scss
  frontend/src/bundles/employers/components/components.ts
  frontend/src/bundles/employers/components/filters/employee-filters.tsx
  frontend/src/bundles/employers/components/filters/styles.module.scss
  frontend/src/bundles/employers/components/sorting-dropdown/sorting-dropdown.tsx
  frontend/src/bundles/employers/constants/constants.ts
  frontend/src/bundles/employers/enums/enums.ts
  frontend/src/bundles/employers/enums/experience-years.enum.ts
  frontend/src/bundles/employers/pages/candidates.tsx
  frontend/src/bundles/employers/pages/styles.module.scss
  frontend/src/bundles/employers/types/employees-filters-dto.ts
  frontend/src/bundles/talent-onboarding/components/candidate-profile/candidate-profile.tsx
  frontend/src/bundles/talent-onboarding/components/candidate-profile/styles.module.scss
  shared/src/bundles/user-details/enums/users-sort-criteria.enum.ts
  shared/src/bundles/user-details/types/user-details-search-users-request-dto.type.ts
  shared/src/bundles/user-details/validation-schemas/user-details-search.validation-schema.ts
Labels: CLIENT, development, frontend, shared, backend

#503 bt-149: Add socket plugin
  backend/package.json
  backend/src/common/plugins/plugins.ts
  backend/src/common/plugins/socket/enums/enums.ts
  backend/src/common/plugins/socket/socket.plugin.ts
  backend/src/common/plugins/socket/types/types.ts
  backend/src/common/server-application/server-app-base.ts
  package-lock.json
  shared/src/bundles/chat/chat.ts
  shared/src/bundles/chat/types/chat-message-get-all-item-response-dto.type.ts
  shared/src/framework/socket/enums/enums.ts
  shared/src/framework/socket/enums/socket-event.enum.ts
  shared/src/framework/socket/enums/socket-namespace.enum.ts
  shared/src/framework/socket/socket.ts
  shared/src/index.ts
Labels: SERVER, development, shared, backend, root

#515 bt-512: Add ability to view password during sign in up
  mobile/src/bundles/auth/components/components.tsx
  mobile/src/bundles/auth/components/password-visibility-toggle/password-visibility-toggle.tsx
  mobile/src/bundles/auth/components/password-visibility-toggle/styles.ts
  mobile/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/bundles/common/enums/ui/icon-name.enum.ts
Labels: MOBILE, development, improvement

#555 bt-456: create contact candidate screen
  mobile/src/bundles/common/hooks/hooks.ts
  mobile/src/bundles/employer/components/components.ts
  mobile/src/bundles/employer/components/contact-candidate-form/constants/constants.ts
  mobile/src/bundles/employer/components/contact-candidate-form/contact-candidate-form.tsx
  mobile/src/bundles/employer/components/contact-candidate-form/styles.ts
  mobile/src/bundles/employer/enums/enums.ts
  mobile/src/bundles/employer/screens/contact-candidate/contact-candidate.tsx
  mobile/src/bundles/employer/screens/screens.ts
  mobile/src/bundles/employer/types/employer-types/contact-candidate-form-dto.type.ts
  mobile/src/bundles/employer/types/types.ts
  mobile/src/bundles/employer/validation-schemas/validation-schemas.ts
  shared/src/bundles/candidate/enums/contact-candidate.validation-rule.ts
Labels: MOBILE, development, shared

#432 bt-148: Add socket store middleware
  frontend/.env.example
  frontend/.eslintrc.yml
  frontend/package.json
  frontend/src/bundles/chat/store/actions.ts
  frontend/src/bundles/chat/store/chat.ts
  frontend/src/bundles/chat/store/slice.ts
  frontend/src/bundles/chat/types/types.ts
  frontend/src/framework/socket/enums/enums.ts
  frontend/src/framework/socket/socket-api.ts
  frontend/src/framework/socket/socket.ts
  frontend/src/framework/socket/types/types.ts
  frontend/src/framework/store/middlewares/chat-socket/chat-socket.middleware.ts
  frontend/src/framework/store/middlewares/middlewares.ts
  frontend/src/framework/store/store.package.ts
  frontend/vite.config.ts
  package-lock.json
  shared/src/bundles/chat/chat.ts
  shared/src/bundles/chat/types/chat-message-create-request-dto.type.ts
  shared/src/bundles/chat/types/chat-message-get-all-response-dto.type.ts
  shared/src/index.ts
Labels: CLIENT, development, frontend, shared, root, ENV

#561 bt-556: [BUG] Redirection for Employers leads to Talent onboarding
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/pages/sign-in-page/sign-in-page.tsx
  frontend/src/bundles/auth/pages/sign-up-page/sign-up-page.tsx
  frontend/src/bundles/common/components/radio/components/radio-group/radio-group.tsx
Labels: bug, CLIENT, development, frontend

#478 bt-470: Employer registration page UI and validation bugs
  frontend/src/bundles/employer-onboarding/components/onboarding-form/onboarding-form.tsx
  frontend/src/bundles/employer-onboarding/components/onboarding-form/styles.module.scss
  frontend/src/bundles/employer-onboarding/enums/onboarding-form/onboarding-form.validation-message.ts
  frontend/src/bundles/employer-onboarding/pages/onboarding/styles.module.scss
  frontend/src/bundles/employer-onboarding/validation-schemas/onboarding-form/onboarding-form.validation-schema.ts
Labels: bug, CLIENT, development, frontend

#535 bt-435: Create Chat user details screen
  mobile/src/bundles/common/components/components.ts
  mobile/src/bundles/common/components/modals/active-modal/active-modal.tsx
  mobile/src/bundles/talent/components/company-info/company-info.tsx
  mobile/src/bundles/talent/components/company-info/styles.ts
  mobile/src/bundles/talent/components/components.ts
  mobile/src/bundles/talent/screens/chat-user-details/chat-user-details.tsx
  mobile/src/bundles/talent/screens/screens.ts
  mobile/src/bundles/talent/types/company-info/company-info-dto.type.ts
  mobile/src/bundles/talent/types/types.ts
Labels: MOBILE, development

#513 bt-433: Connect get user data API to mobile and remove related TODOs
  mobile/src/bundles/auth/types/types.ts
  mobile/src/bundles/talent/components/profile-form/profile-form.tsx
  mobile/src/bundles/talent/store/actions.ts
  mobile/src/bundles/talent/store/index.ts
  mobile/src/bundles/talent/store/slice.ts
  mobile/src/bundles/talent/talent-api.ts
  mobile/src/bundles/talent/types/types.ts
  mobile/src/navigations/root/root.tsx
Labels: MOBILE, development

#568 bt-560: Add new countries(USA, Canada) to the CountryList
  shared/src/bundles/user-details/enums/country-list.enum.ts
Labels: CLIENT, MOBILE, development, shared

#550 bt-370: Create seeds for badges and hard skills
  backend/package.json
  backend/src/common/packages/database/database-base.package.ts
  backend/src/migrations/20230919162409_update_bsa_badges_table.ts
  backend/src/seed-data/bsa-badges-seed-data.ts
  backend/src/seed-data/hard-skills-seed-data.ts
  backend/src/seeds/bsa-badges-seed.ts
  backend/src/seeds/hard-skills-seed.ts
Labels: SERVER, development, backend

#552 bt-528: Implement deny approve backend logic
  .eslintrc.yml
  .stylelintrc.yml
  backend/.eslintrc.yml
  backend/src/bundles/user-details/types/types.ts
  backend/src/bundles/user-details/user-details.controller.ts
  backend/src/bundles/user-details/user-details.service.ts
  backend/src/bundles/user-details/validation-schemas/validation-schemas.ts
  shared/src/bundles/user-details/enums/user-details-api-path.enum.ts
  shared/src/bundles/user-details/types/types.ts
  shared/src/bundles/user-details/types/user-details-approve-request-dto.type.ts
  shared/src/bundles/user-details/user-details.ts
  shared/src/bundles/user-details/validation-schemas/user-details-approve.validation-schema.ts
  shared/src/bundles/user-details/validation-schemas/validation-schemas.ts
  shared/src/index.ts
Labels: SERVER, development, shared, backend

#543 bt-525: Change to disable the tabs and remove link to the page "Candidates" and "Chat" from sidebar until the user's account approval by Admin
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/sidebar/styles.module.scss
  frontend/src/bundles/common/enums/app-route.enum.ts
Labels: CLIENT, development, frontend

#567 bt-537: [BUG] Sign up\Sign In pages visual bugs
  frontend/src/bundles/auth/components/auth-forms/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/auth-forms/sign-in-form/styles.module.scss
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/auth-forms/sign-up-form/styles.module.scss
Labels: bug, CLIENT, development, frontend

#536 bt-381: replace mocked data badges hard skills in oboarding screens with data fetched from backend
  mobile/src/bundles/common-data/common-data-api.ts
  mobile/src/bundles/common-data/common-data.ts
  mobile/src/bundles/common-data/store/actions.ts
  mobile/src/bundles/common-data/store/index.ts
  mobile/src/bundles/common-data/store/slice.ts
  mobile/src/bundles/common-data/types/types.ts
  mobile/src/bundles/common/components/autocomplete-selectors/autocomplete-multi-selector/autocomplete-multi-selector.tsx
  mobile/src/bundles/common/types/components/autocomplete-multi-selector-value.ts
  mobile/src/bundles/common/types/components/components.ts
  mobile/src/bundles/common/types/types.ts
  mobile/src/bundles/employer/components/candidate-filter-form/candidate-filter-form.tsx
  mobile/src/bundles/employer/components/candidate-filter-form/constants/constants.ts
  mobile/src/bundles/employer/components/candidate-filter-form/constants/mock-constants.ts
  mobile/src/bundles/employer/screens/candidates-filter/candidates-filter.tsx
  mobile/src/bundles/employer/screens/constants/mock-constants.ts
  mobile/src/bundles/employer/types/employer-types/employees-filters-dto.type.ts
  mobile/src/bundles/employer/types/employer-types/employees-filters-option.type.ts
  mobile/src/bundles/employer/types/employer-types/employer-types.ts
  mobile/src/bundles/employer/types/types.ts
  mobile/src/bundles/talent/components/skills-and-projects-form/constants/constants.ts
  mobile/src/bundles/talent/components/skills-and-projects-form/skills-and-projects-form.tsx
  mobile/src/bundles/talent/screens/skills-and-projects/skills-and-projects.tsx
  mobile/src/framework/store/store.package.ts
  shared/src/bundles/gather-selected-data/badges/badges-item.ts
  shared/src/bundles/gather-selected-data/badges/badges-response-dto.ts
  shared/src/bundles/gather-selected-data/gather-selected-data.ts
  shared/src/bundles/gather-selected-data/hard-skills/hard-skills-item.ts
  shared/src/bundles/gather-selected-data/hard-skills/hard-skills-response-dto.ts
  shared/src/bundles/talent-onboarding/validation-schemas/skills-step/skills-step.validation-schema.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: MOBILE, development, shared

#583 bt-570: Placeholder of the description field is cut off
  mobile/src/bundles/common/components/input/input.tsx
Labels: bug, MOBILE, development

#557 bt-547: Add DB diagram to readme.md
  README.md
Labels: development, root

#573 bt-566: fix badges max score
  frontend/src/assets/mock-data/mock-badges.constants.ts
Labels: bug, CLIENT, development, frontend

#494 bt-468: Add candidate cabinet
  backend/src/bundles/user-details/user-details.model.ts
  frontend/src/app/app.tsx
  frontend/src/assets/mock-data/mock-candidates.ts
  frontend/src/bundles/auth/store/auth.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/dropdown/components/menu/styles.module.scss
  frontend/src/bundles/common/components/header/components/header-user-menu/header-user-menu.tsx
  frontend/src/bundles/common/components/header/components/header-user-menu/styles.module.scss
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/common/components/tabs/components/tab/styles.module.scss
  frontend/src/bundles/common/components/tabs/components/tab/tab.tsx
  frontend/src/bundles/common/components/tabs/components/tabs/styles.module.scss
  frontend/src/bundles/common/components/tabs/components/tabs/tabs.tsx
  frontend/src/bundles/common/components/tabs/tabs.ts
  frontend/src/bundles/common/context/context.ts
  frontend/src/bundles/common/context/form-submit-provider/form-submit-provider.context.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/employer-onboarding/components/onboarding-form/onboarding-form.tsx
  frontend/src/bundles/employer-onboarding/components/onboarding-form/styles.module.scss
  frontend/src/bundles/employer-onboarding/employer-onboarding-api.ts
  frontend/src/bundles/employer-onboarding/pages/onboarding/onboarding.tsx
  frontend/src/bundles/employer-onboarding/pages/onboarding/styles.module.scss
  frontend/src/bundles/employer-onboarding/store/actions.ts
  frontend/src/bundles/employer-onboarding/store/employer-onboarding.ts
  frontend/src/bundles/employer-onboarding/store/slice.ts
  frontend/src/bundles/profile-cabinet/helpers/get-step-route/get-step-route.ts
  frontend/src/bundles/profile-cabinet/helpers/helpers.ts
  frontend/src/bundles/profile-cabinet/pages/profile-cabinet.tsx
  frontend/src/bundles/profile-cabinet/pages/styles.module.scss
  frontend/src/bundles/profile-cabinet/store/profile-cabinet.ts
  frontend/src/bundles/profile-cabinet/store/slice.ts
  frontend/src/bundles/talent-onboarding/components/badges-step/badges-step.tsx
  frontend/src/bundles/talent-onboarding/components/badges-step/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/contacts-cv-step/contacts-cv-step.tsx
  frontend/src/bundles/talent-onboarding/components/contacts-cv-step/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/profile-step/profile-step.tsx
  frontend/src/bundles/talent-onboarding/components/profile-step/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/skills-step/skills-step.tsx
  frontend/src/bundles/talent-onboarding/components/step-content/step-content.tsx
  frontend/src/bundles/talent-onboarding/components/step-content/styles.module.scss
  frontend/src/bundles/talent-onboarding/pages/onboarding/onboarding.tsx
  frontend/src/bundles/talent-onboarding/talent-onboarding-api.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/index.tsx
Labels: CLIENT, development, frontend, backend

#554 bt-422: Create chat list screen
  mobile/package.json
  mobile/src/bundles/chat/components/chat-back-button/chat-back-button.tsx
  mobile/src/bundles/chat/components/chat-header/chat-header.tsx
  mobile/src/bundles/chat/components/chat-header/styles.ts
  mobile/src/bundles/chat/components/chat-item/chat-item.tsx
  mobile/src/bundles/chat/components/chat-item/styles.ts
  mobile/src/bundles/chat/components/chat-list-item/chat-list-item.tsx
  mobile/src/bundles/chat/components/chat-list-item/styles.ts
  mobile/src/bundles/chat/components/components.ts
  mobile/src/bundles/chat/components/message-entry-field/message-entry-field.tsx
  mobile/src/bundles/chat/components/message-entry-field/styles.ts
  mobile/src/bundles/chat/components/search/search.tsx
  mobile/src/bundles/chat/constants/constants.ts
  mobile/src/bundles/chat/helpers/find-user-in-chat/find-user-in-chat.ts
  mobile/src/bundles/chat/helpers/get-elapsed-time/constants/constants.ts
  mobile/src/bundles/chat/helpers/get-elapsed-time/get-elapsed-time.ts
  mobile/src/bundles/chat/helpers/helpers.ts
  mobile/src/bundles/chat/helpers/sort-chats-by-date/sort-chats-by-date.ts
  mobile/src/bundles/chat/hooks/hooks.ts
  mobile/src/bundles/chat/hooks/use-real-time-elapsed/constants/constants.ts
  mobile/src/bundles/chat/hooks/use-real-time-elapsed/use-real-time-elapsed.hook.ts
  mobile/src/bundles/chat/screens/chat-list/chat-list.tsx
  mobile/src/bundles/chat/screens/chat-list/styles.ts
  mobile/src/bundles/chat/screens/chat/chat.tsx
  mobile/src/bundles/chat/screens/chat/styles.ts
  mobile/src/bundles/chat/screens/screens.ts
  mobile/src/bundles/chat/store/actions.ts
  mobile/src/bundles/chat/store/index.ts
  mobile/src/bundles/chat/store/slice.ts
  mobile/src/bundles/chat/types/chat-data-request-dto-type.ts
  mobile/src/bundles/chat/types/chat-item-type.ts
  mobile/src/bundles/chat/types/types.ts
  mobile/src/bundles/chat/types/user-information-type.ts
  mobile/src/bundles/common/components/components.ts
  mobile/src/bundles/common/enums/navigation/employer-bottom-tab-screen-name.enum.ts
  mobile/src/bundles/common/enums/navigation/root-screen-name.enum.ts
  mobile/src/bundles/common/enums/ui/icon-name.enum.ts
  mobile/src/bundles/common/helpers/helpers.ts
  mobile/src/bundles/common/styles/global-styles/sizes.ts
  mobile/src/bundles/common/types/navigation/chat-navigation-properties.type.ts
  mobile/src/bundles/common/types/navigation/employer-bottom-tab-navigation-parameter-list.type.ts
  mobile/src/bundles/common/types/navigation/navigation.ts
  mobile/src/bundles/common/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/bundles/common/types/types.ts
  mobile/src/bundles/employer/components/candidate-filter-form/styles.ts
  mobile/src/bundles/employer/components/employer-onboarding-form/styles.ts
  mobile/src/bundles/employer/screens/chat/chat.tsx
  mobile/src/bundles/employer/screens/screens.ts
  mobile/src/framework/storage/enums/enums.ts
  mobile/src/framework/storage/enums/socket-events.enum.ts
  mobile/src/framework/storage/middlewares/middlewares.ts
  mobile/src/framework/storage/middlewares/socket/socket.ts
  mobile/src/framework/storage/storage.ts
  mobile/src/framework/store/store.package.ts
  mobile/src/navigations/bottom-tab-navigator/employer-bottom-tab/employer-bottom-tab.tsx
  mobile/src/navigations/root/root.tsx
  package-lock.json
Labels: MOBILE, development, root

#588 bt-586: Changed endpoint for user details
  shared/src/bundles/user-details/enums/user-details-api-path.enum.ts
Labels: MOBILE, development, shared

#499 bt-463: Reset user's data on logout
  frontend/src/app/store/slice.ts
  frontend/src/bundles/common/components/header/components/header-user-menu/header-user-menu.tsx
  frontend/src/framework/store/store.package.ts
Labels: bug, CLIENT, development, frontend, AC/US +

#596 bt-592: fix preview onboarding step style
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/talent-onboarding/components/candidate-profile/profile-first-section/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/candidate-profile/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/step-content/step-content.tsx
  frontend/src/bundles/talent-onboarding/components/step-content/styles.module.scss
  frontend/src/bundles/talent-onboarding/store/slice.ts
Labels: bug, CLIENT, development, frontend

#612 bt-586: Changed user details endpoint
  mobile/src/bundles/talent/talent-api.ts
  shared/src/bundles/user-details/enums/user-details-api-path.enum.ts
Labels: bug, MOBILE, development, shared

#491 bt-461: Create characteristics component in admin user verification
  frontend/src/assets/css/variables.scss
  frontend/src/assets/mock-data/mock-data.ts
  frontend/src/assets/mock-data/mock-feedback.ts
  frontend/src/assets/mock-data/mock-personality-type-options.ts
  frontend/src/assets/mock-data/mock-soft-skills.ts
  frontend/src/bundles/admin/admin.ts
  frontend/src/bundles/admin/components/characteristics/characteristics.tsx
  frontend/src/bundles/admin/components/characteristics/styles.module.scss
  frontend/src/bundles/admin/components/components.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/multi-read/multi-read.tsx
  frontend/src/bundles/common/components/multi-read/styles.module.scss
  package-lock.json
Labels: CLIENT, development, frontend, root

#563 bt-507: Change step one cover letter field
  frontend/src/bundles/common/components/textarea/styles.module.scss
  frontend/src/bundles/talent-onboarding/components/profile-step/profile-step.tsx
  shared/src/bundles/talent-onboarding/enums/profile-step/profile-step.validation-message.ts
Labels: CLIENT, development, frontend, shared, improvement

#587 bt-528: split deny and approve
  backend/src/bundles/user-details/types/types.ts
  backend/src/bundles/user-details/user-details.controller.ts
  backend/src/bundles/user-details/user-details.service.ts
  backend/src/bundles/user-details/validation-schemas/validation-schemas.ts
  shared/src/bundles/user-details/enums/user-details-api-path.enum.ts
  shared/src/bundles/user-details/types/types.ts
  shared/src/bundles/user-details/types/user-details-approve-request-dto.type.ts
  shared/src/bundles/user-details/types/user-details-deny-request-dto.type.ts
  shared/src/bundles/user-details/types/user-details-update-dto.type.ts
  shared/src/bundles/user-details/types/user-details-update-request-dto.type.ts
  shared/src/bundles/user-details/user-details.ts
  shared/src/bundles/user-details/validation-schemas/user-details-approve.validation-schema.ts
  shared/src/bundles/user-details/validation-schemas/user-details-deny.validation-schema.ts
  shared/src/bundles/user-details/validation-schemas/user-details-update.validation-schema.ts
  shared/src/bundles/user-details/validation-schemas/validation-schemas.ts
  shared/src/index.ts
Labels: SERVER, development, shared, backend

#575 bt-546: [BUG] "Doesn't consider" is cut off on the talent preview page
  mobile/src/bundles/talent/components/profile-preview/profile-preview.tsx
Labels: bug, MOBILE, development

#604 bt-542: Fixed layout on the employment onboarding
  mobile/src/bundles/employer/components/employer-onboarding-form/employer-onboarding-form.tsx
  mobile/src/bundles/employer/components/employer-onboarding-form/styles.ts
  mobile/src/bundles/employer/enums/employer-onboarding/employer-onboarding-form-validation-message.enum.ts
  mobile/src/bundles/employer/validation-schemas/employer-onboarding-form.validation-schema.ts
Labels: bug, MOBILE, development

#576 bt-534: Create publish user endpoint
  backend/src/bundles/user-details/user-details.controller.ts
  backend/src/bundles/user-details/user-details.model.ts
  backend/src/bundles/user-details/user-details.repository.ts
  backend/src/bundles/user-details/user-details.service.ts
  backend/src/migrations/20230921165509_add_published_at_to_user_details_table.ts
  package-lock.json
  shared/src/bundles/user-details/enums/user-details-api-path.enum.ts
Labels: SERVER, MOBILE, development, shared, backend, root

#497 bt-150: Add chat store
  frontend/src/bundles/chat/chat-api.ts
  frontend/src/bundles/chat/chat.ts
  frontend/src/bundles/chat/store/actions.ts
  frontend/src/bundles/chat/store/chat.ts
  frontend/src/bundles/chat/store/slice.ts
  frontend/src/bundles/chat/types/types.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/framework/store/middlewares/chat-socket/chat-socket.middleware.ts
  frontend/src/framework/store/store.package.ts
  shared/src/bundles/chat-messages/chat-messages.ts
  shared/src/bundles/chat-messages/enums/chat-messages-api-path.enum.ts
  shared/src/bundles/chat-messages/enums/enums.ts
  shared/src/bundles/chat-messages/types/chat-messages-create-request-dto.type.ts
  shared/src/bundles/chat-messages/types/chat-messages-patch-dto.type.ts
  shared/src/bundles/chat-messages/types/chat-messages-response-dto.type.ts
  shared/src/bundles/chat-messages/types/chat-response-dto.type.ts
  shared/src/bundles/chat-messages/types/message-response-dto.type.ts
  shared/src/bundles/chat-messages/types/types.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: CLIENT, development, frontend, shared
